.advantages {
  overflow: hidden;
  background-repeat: repeat;
  background-image: url('../images/advantages-bg2.jpg');
  background-position: 50% calc(50% + (calc(300px * var(--global-scale)) * var(--progress)));
  background-size: auto auto;

  padding-top: calc(110px * var(--global-scale));
  padding-bottom: calc(110px * var(--global-scale));
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media (--max-md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.advantages-layout {
  display: flex;

  @media (--max-lg) {
    flex-wrap: wrap;
  }

  @media (--max-md) {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
  }
}

.advantages-layout__calc {
  width: 50%;
  flex-shrink: 0;
  display: flex;

  @media (--max-lg) {
    width: 100%;
  }
}

.advantages-layout__warranty {
  width: 29%;
  flex-shrink: 0;
  display: flex;

  @media (--max-lg) {
    width: 60%;
  }

  @media (--max-md) {
    width: 100%;
  }
}

.advantages-layout__payment {
  width: 21%;
  flex-shrink: 0;
  display: flex;

  @media (--max-lg) {
    width: 40%;
  }

  @media (--max-md) {
    width: 100%;
  }
}

.advantage-calc {
  width: 100%;
  min-width: 0;
  background: url('../images/advantage-calc-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  padding: 113px 90px 102px 116px;
  zoom: var(--global-scale);
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
    padding: 32px;
  }
}

.advantage-calc::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: #bcb2a6;
  opacity: 0.6;
}

.advantage-calc__title {
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  width: min-content;
  position: relative;

  @media (--max-md) {
    font-size: 32px;
    text-align: center;
    width: 100%;
    text-wrap: balance;
  }
}

.advantage-calc__title::before {
  content: '';
  width: 20px;
  height: 222px;
  position: absolute;
  left: -56px;
  top: 50%;
  border-left: 6px solid #fff;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translateX(calc((200% - (200% * var(--progress))) * -1));
}

.advantage-calc__form {
  margin-top: 68px;
  position: relative;

  @media (--max-md) {
    margin-top: 24px;
  }
}

.advantage-calc__form-label {
  pointer-events: none;
  user-select: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1;
  position: absolute;
  left: 32px;
  top: 16px;

  @media (--max-md) {
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
}

.advantage-calc__form-input {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.18);
  padding-left: 32px;
  padding-right: 344px;
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  color: #fff;
  height: 92px;
  padding-top: 32px;
  width: 100%;

  @media (--max-md) {
    font-size: 24px;
    height: 140px;
    padding-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 60px;
    text-align: center;
  }
}

.advantage-calc__form-input::placeholder {
  color: #fff;
}

.advantage-calc__form-submit {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgb(255, 255, 255);
  right: 6px;
  top: 6px;
  height: 80px;
  padding-left: 48px;
  padding-right: 48px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272935;
  transition-duration: 150ms;

  @media (--max-md) {
    font-size: 20px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    top: auto;
    height: 48px;
  }
}

.advantage-calc__form-submit:hover {
  background-color: #e1e5ee;
  transition-duration: 300ms;
}

.advantage-calc__rules {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-top: 34px;
  text-wrap: balance;

  @media (--max-md) {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
  }
}

.advantage-calc__rules a {
  text-decoration: underline;
}

.advantage-calc__rules a:hover {
  text-decoration: none;
}

.advantage-warranty {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(204, 204, 204, 0.15);
  background-color: rgba(250, 248, 246, 0.51);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  min-width: 0;
  padding: 68px 80px 60px 90px;
  zoom: var(--global-scale);

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
    padding: 32px;
  }
}

.advantage-warranty__title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @media (--max-md) {
    margin-bottom: 24px;
    justify-content: center;
  }
}

.advantage-warranty__title-num {
  font-size: 208px;
  line-height: 160px;
  font-family: 'Gilroy', sans-serif;
  color: #c73f3b;

  @media (--max-md) {
    font-size: 160px;
    line-height: 140px;
  }
}

.advantage-warranty__title-val {
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  color: #c73f3b;
  padding-top: 12px;
  margin-left: 10px;

  @media (--max-md) {
    font-size: 36px;
    line-height: 30px;
  }
}

.advantage-warranty__subtitle {
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  width: min-content;

  @media (--max-md) {
    font-size: 32px;
    width: 100%;
    text-align: center;
    text-wrap: balance;
  }
}

.advantage-warranty__desc {
  font-size: 18px;
  color: #fcfcfc;
  color: rgba(252, 252, 252, 0.82);
  line-height: 1.333;
  margin-top: 64px;
  position: relative;
  padding-right: 40px;

  @media (--max-md) {
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
    margin-top: 32px;
    text-align: center;
    text-wrap: balance;
  }
}

.advantage-warranty__desc::after {
  content: '';
  width: 9px;
  height: 120%;
  position: absolute;
  right: 0;
  top: 50%;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress)))));
}

.advantage-payment {
  background-color: rgba(104, 104, 104, 0.588);
  width: 100%;
  min-width: 0;
  padding: 56px 48px 48px 52px;
  zoom: var(--global-scale);

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
    padding: 32px;
  }
}

.advantage-payment__title {
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;

  @media (--max-md) {
    text-align: center;
    margin-bottom: 16px;
  }
}

.advantage-payment__subtitle {
  font-size: 48px;
  line-height: 32px;
  color: #fff;
  /* height: 228px; */
  height: calc(32px + (196px * var(--progress)));
  padding: 0 5px;

  @media (--max-md) {
    height: 120px;
  }
}

.advantage-payment__line {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advantage-payment__line-step {
  padding-left: 40px;
  position: relative;
}

.advantage-payment__line-step::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 10px;
  top: 5px;
}

.advantage-payment__line-step::after {
  content: '';
  width: 1px;
  background: #fff;
  position: absolute;
  left: 14px;
  top: 8px;
  bottom: -40px;
}

.advantage-payment__line-step:last-child:after {
  display: none;
}

.advantage-payment__step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-payment__step-title {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  background: #333232;
  margin-left: -12px;
  margin-bottom: 2px;
}

.advantage-payment__step-desc {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-wrap: balance;
}
