.articles-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 48px;
  row-gap: 96px;

  @media (--max-lg) {
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    row-gap: 48px;
  }

  @media (--max-md) {
    grid-template-columns: 1fr;
  }
}

.articles-list__item {
  display: flex;
}

.articles-list__item-wide {
  @media (--min-md) {
    grid-column: 2 span;
  }
}

.article-card-big {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 4px solid #dcdcdc;
}

.article-card-big--reverse {
  @media (--min-md) {
    flex-direction: column-reverse;
  }
}

.article-card-big__media {
  position: relative;
  z-index: 10;
  margin: 0;

  @media (--max-md) {
    padding: 24px;
  }
}

.article-card-big__header {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 64px;
  text-align: right;

  @media (--max-md) {
    padding: 24px;
  }
}

.article-card-big__image {
  display: block;
  width: 100%;
  height: auto;
}

.article-card-big__date {
  position: relative;
  z-index: 20;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Gilroy';
  display: flex;
  gap: 12px;
  background-color: rgba(0, 0, 0, 0.231);
  margin-bottom: 20px;

  @media (--max-md) {
    margin-bottom: 16px;
  }
}

.article-card-big__date::before {
  content: '[';
}

.article-card-big__date::after {
  content: ']';
}

.article-card-big__title {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  filter: drop-shadow(0px 0px 1em #000);
  position: relative;
  z-index: 10;

  @media (--max-md) {
    font-size: 32px;
  }
}

.article-card-big__content {
  font-size: 18px;
  color: rgb(48, 52, 55);
  font-style: italic;
  line-height: 1.25;
  padding: 48px 64px;

  @media (--max-md) {
    padding: 24px;
  }

  em {
    background: #c9413c;
    color: #ffffff;
  }
  p {
    margin: 0;
  }
  * + p {
    margin-top: 1.25em;
  }
  * + ul {
    margin-top: 1.25em;
  }
  hr {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  ul {
    list-style: disc;
    padding-left: 12px;
    margin-left: 24px;
  }
}

.article-card-big__content .more-link {
  display: inline-block;
}

.article-card-big__content .more-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  zoom: var(--global-scale);
}

.article-card--reverse {
  @media (--min-md) {
    flex-direction: column-reverse;
  }
}

.article-card__media {
  position: relative;
  z-index: 10;
  padding: 24px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  background-color: #dcdcdc;
  overflow: hidden;
  border: 4px solid #dcdcdc;
  aspect-ratio: 4 / 3;
}

.article-card__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card__date {
  position: relative;
  z-index: 20;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Gilroy';
  display: flex;
  gap: 12px;
  background-color: rgba(0, 0, 0, 0.231);
  margin-bottom: 16px;
}

.article-card__date::before {
  content: '[';
}

.article-card__date::after {
  content: ']';
}

.article-card__title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  filter: drop-shadow(0px 0px 1em #000);
  position: relative;
  z-index: 10;
}

.article-card__content {
  font-size: 16px;
  color: rgb(48, 52, 55);
  font-style: italic;
  line-height: 1.25;

  em {
    background: #c9413c;
    color: #ffffff;
  }
  p {
    margin: 0;
  }
  * + p {
    margin-top: 1.25em;
  }
  * + ul {
    margin-top: 1.25em;
  }
  hr {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  ul {
    list-style: disc;
    padding-left: 12px;
    margin-left: 24px;
  }
}

.article-card__content .more-link {
  display: inline-block;
}

.article-card__content .more-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
