.page-section {
  --bg-cf: var(--global-scale);

  min-height: 100vh;
  margin-top: calc((var(--header-before) + var(--header-height)) * -1);
  position: relative;
  z-index: 1;
  padding-top: calc((var(--header-before) + var(--header-height)) + (64px * var(--global-scale)));

  /* @media (--max-lg) {
    background-size: calc(1920px * (768 / 1920)) calc(717px * (768 / 1920)), cover;
    padding-top: calc(40px + var(--header-before) + var(--header-height));
    padding-bottom: 0;
  } */
}

.page-section__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: calc(717px * var(--global-scale));
  z-index: -1;
  background-position: 50% 0, 50% 0;
  background-repeat: no-repeat, no-repeat;
  background-image: url('../images/page-bg.jpg'), url('../images/page-bg.jpg');
  background-size: calc(1920px * var(--global-scale)) calc(717px * var(--global-scale)), cover;
  background-position-y: calc(0% + ((200px * var(--global-scale)) * var(--progress))), 0;
}

.page-section__bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - ((100vw - calc(1920px * var(--global-scale))) / 2));
  background: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' style='opacity: 0.2'/%3E%3C/svg%3E");
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 12px rgba(38, 70, 102, 0.161);

  @media (--max-lg) {
    right: calc(100% - ((100vw - calc(1920px * (768 / 1920))) / 2));
  }
}

.page-section__bg::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: calc(100% - ((100vw - calc(1920px * var(--global-scale))) / 2));
  background: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' style='opacity: 0.2'/%3E%3C/svg%3E");
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 12px rgba(38, 70, 102, 0.161);

  @media (--max-lg) {
    left: calc(100% - ((100vw - calc(1920px * (768 / 1920))) / 2));
  }
}

.breadcrumbs {
  display: flex;
  zoom: var(--global-scale);
}

.breadcrumbs__list {
  display: flex;
  padding-right: 12px;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  position: relative;
}

.breadcrumbs__list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  border-left: 1px solid #959595;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
}

.breadcrumbs__list::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  border-right: 1px solid #959595;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
}

.breadcrumbs__list li {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.breadcrumbs__list li::before {
  content: '';
  display: block;
  border-left: 6px solid #c8c8c8;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-right: 12px;
}

.breadcrumbs__list li:first-child:before {
  display: none;
}

.breadcrumbs__item {
  color: #c8c8c8;
  font-size: 12px;
  line-height: 1.25;
  display: block;
  text-transform: uppercase;
}

a.breadcrumbs__item {
  color: #b9b9b9;

  &:hover {
    color: #000;
  }
}

.page-section__title {
  padding-left: 48px;
  position: relative;
  font-size: 120px;
  line-height: 1;
  color: #3f4647;
  font-weight: 500;
  max-width: 50%;
  text-wrap: balance;
  line-height: 1;
  margin-bottom: 68px;
  zoom: var(--global-scale);
}

.page-section__title::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 96px;
  left: 0;
  top: 12px;
  border-left: 3px solid currentColor;
  border-top: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
}

.page-section__title--small {
  font-size: 72px;
  line-height: 1.2;
}

.page-section__title--small::before {
}

.page-section__breadcrumbs {
  margin-bottom: calc(16px * var(--global-scale));
}
