.content {
  font-size: calc(18px * var(--global-scale));
  line-height: 1.25;
  color: #000000;
  p {
    margin: 0;
  }
  * + p {
    margin-top: calc(32px * var(--global-scale));
  }
  h3 {
    font-size: calc(32px * var(--global-scale));
    font-weight: 500;
    margin: 0;
  }
  * + h3 {
    margin-top: calc(48px * var(--global-scale));
  }
  table {
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin: 0;
    tbody tr:nth-child(2n-1) td {
      background: #fbfbfb;
    }
    th {
      font-size: calc(18px * var(--global-scale));
      line-height: 1;
      color: #000000;
      font-weight: 400;
      padding: calc(16px * var(--global-scale)) calc(24px * var(--global-scale));
      text-align: left;
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eee;
      background-image: linear-gradient(45deg, #edf1fd, #f9edfb);
    }
    td {
      padding: calc(16px * var(--global-scale)) calc(24px * var(--global-scale));
      border-bottom: 1px solid #eeeeee;
      border-right: 1px solid #eee;
    }
  }
  * + table {
    margin-top: calc(32px * var(--global-scale));
  }
  h2 + table {
    margin-top: calc(48px * var(--global-scale));
  }
  h3 + table {
    margin-top: calc(36px * var(--global-scale));
  }
  a {
    text-decoration: underline;
  }
  ul {
    margin: 0;
    padding: 0 0 0 1.25em;
    list-style: disc;
  }
  ul li + li {
    margin-top: calc(12px * var(--global-scale));
  }
  * + ul {
    margin-top: calc(32px * var(--global-scale));
  }

  @media (--max-md) {
    font-size: 16px;
    * + p {
      margin-top: 24px;
    }
    * + ul {
      margin-top: 24px;
    }
    ul li + li {
      margin-top: 8px;
    }
    h3 {
      font-size: 24px;
    }
    * + h3 {
      margin-top: 36px;
    }
  }
}

.content h2 {
  font-size: calc(60px * var(--global-scale));
  font-weight: 500;
  line-height: 1.25;
  min-width: 0px;
  margin: 0;

  @media (--max-lg) {
    font-size: 48px;
  }

  @media (--max-md) {
    font-size: 36px;
  }
}

.content h2::first-line {
  font-size: calc(36px * var(--global-scale));
  font-weight: bold;

  @media (--max-md) {
    font-size: 24px;
  }
}

.content * + h2 {
  margin-top: calc(80px * var(--global-scale));

  @media (--max-lg) {
    margin-top: 64px;
  }

  @media (--max-md) {
    margin-top: 48px;
  }
}

.content * + .content-orbit {
  margin-top: calc(80px * var(--global-scale));

  @media (--max-lg) {
    margin-top: 64px;
  }

  @media (--max-md) {
    margin-top: 48px;
  }
}

.content .content-orbit {
  width: 100%;
  position: relative;
  display: grid;
}

.content .content-orbit__item {
  z-index: 30;
  position: relative;
}

.content * + .content-orbit__item {
  @media (--max-lg) {
    margin-top: 58px;
  }

  @media (--max-md) {
    margin-top: 36px;
  }
}

.content .content-orbit__item-title {
  position: relative;
  font-size: calc(32px * var(--global-scale));
  color: rgb(19, 19, 19);
  line-height: 1.2;
  padding-left: 68px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: calc(12px * var(--global-scale));

  @media (--max-md) {
    padding-left: 48px;
    font-size: 24px;
  }
}

.content .content-orbit__item-title::after {
  display: block;
  font-size: calc(16px * var(--global-scale));
  font-family: 'Gilroy';
  color: rgb(19, 19, 19);
  line-height: 1;
  position: absolute;
  left: 0;
  top: calc(6px * var(--global-scale));
}

.content .content-orbit__item--1 .content-orbit__item-title::after {
  content: '01';
}

.content .content-orbit__item--2 .content-orbit__item-title::after {
  content: '02';
}

.content .content-orbit__item--3 .content-orbit__item-title::after {
  content: '03';
}

.content .content-orbit__item--4 .content-orbit__item-title::after {
  content: '04';
}

.content .content-orbit__item--5 .content-orbit__item-title::after {
  content: '05';
}

.content .content-orbit__item-desc {
  font-size: calc(16px * var(--global-scale));
  line-height: 1.5;
  color: #131313;
  padding-left: calc(116px * var(--global-scale));
  padding-right: calc(116px * var(--global-scale));

  p {
    margin: 0;
  }

  * + p {
    margin-top: calc(24px * var(--global-scale));
  }

  ul {
    margin: 0;
  }

  * + ul {
    margin-top: calc(24px * var(--global-scale));
  }

  ul li {
    list-style: none;
    padding-left: calc(32px * var(--global-scale));
    position: relative;
  }

  ul li::before {
    content: '';
    position: absolute;
    background: #858582;
    width: calc(5px * var(--global-scale));
    height: calc(5px * var(--global-scale));
    border-radius: 50%;
    position: absolute;
    left: calc(12px * var(--global-scale));
    top: calc(12px * var(--global-scale));
    transform: translateY(-50%);
  }

  @media (--max-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.content * + .content-orbit__item-desc {
  margin-top: calc(42px * var(--global-scale));

  @media (--max-md) {
    margin-top: 24px;
  }
}

.content .content-orbit__desc {
  position: relative;
  font-size: calc(16px * var(--global-scale));
  line-height: 1.5;
  color: #131313;
  z-index: 30;
}

.content .content-orbit__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(480px * var(--global-scale));
  height: calc(480px * var(--global-scale));
  border-radius: 50%;
  background: url('../images/orbit-bg-760.jpg') no-repeat 50% 50%;
  background-position-y: calc(
    50% -
      (calc(240px * var(--global-scale)) - (calc(240px * var(--global-scale)) * var(--progress)))
  );
  z-index: 20;

  @media (--max-lg) {
    display: none;
  }
}

.content .content-orbit__figure {
  position: absolute;
  display: flex;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(480px * var(--global-scale));
  height: calc(480px * var(--global-scale));

  @media (--max-lg) {
    display: none;
  }
}

.content .content-orbit__figure svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: calc(88px * var(--global-scale)) 0 0 calc(-22px * var(--global-scale));
  transform: translate(-50%, -50%) scale(var(--global-scale))
    skew(calc(10deg - (10deg * var(--progress))))
    rotate(calc((10deg - (10deg * var(--progress))) * -1));
}
