.features-section {
  padding-top: 80px;
  padding-bottom: 64px;
}

.features-section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 86px;
}

.features-section__title-inner {
  position: relative;
  text-align: center;
  padding: 0 116px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.25;
}

.features-section__title-inner::first-line {
  font-size: 36px;
  font-weight: bold;
}

.features-section__title-inner::before {
  content: '';
  width: 9px;
  height: 96px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -48px;
  border-left: 3px solid #131313;
  border-top: 3px solid #131313;
  border-bottom: 3px solid #131313;
  transform: scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress))) * -1));
}

/* .features-section__title-inner::after {
  content: '';
  width: 9px;
  height: 96px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -48px;
  border-right: 3px solid #131313;
  border-top: 3px solid #131313;
  border-bottom: 3px solid #131313;
  transform: scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress)))));
} */

.features-section__core {
  width: 100%;
  height: 840px;
  position: relative;
}

.features-section__item {
  position: absolute;
  width: 664px;
  z-index: 30;
}

.features-section__item-title {
  position: relative;
  font-size: 32px;
  color: rgb(19, 19, 19);
  line-height: 1.2;
  padding-left: 68px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 42px;
  padding-bottom: 12px;
}

.features-section__item-title::after {
  display: block;
  font-size: 16px;
  font-family: 'Gilroy';
  color: rgb(19, 19, 19);
  line-height: 1;
  position: absolute;
  left: 0;
  top: 6px;
}

.features-section__item--1 .features-section__item-title::after {
  content: '01';
}

.features-section__item--2 .features-section__item-title::after {
  content: '02';
}

.features-section__item--3 .features-section__item-title::after {
  content: '03';
}

.features-section__item--1 {
  right: 0;
  top: 114px;
}

.features-section__item--2 {
  left: 0;
  top: 310px;
}

.features-section__item--3 {
  left: 0;
  top: 700px;
}

.features-section__item-desc {
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  padding-left: 116px;
  padding-right: 116px;

  p {
    margin: 0;
  }

  * + p {
    margin-top: 24px;
  }

  ul {
    margin: 0;
  }

  * + ul {
    margin-top: 24px;
  }

  ul li {
    list-style: none;
    padding-left: 32px;
    position: relative;
  }

  ul li::before {
    content: '';
    position: absolute;
    background: #858582;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: 12px;
    transform: translateY(-50%);
  }
}

.features-section__core::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background: url('../images/orbit-bg-760.jpg') no-repeat 50% 50%;
  background-position-y: calc(50% - (240px - (240px * var(--progress))));
  z-index: 20;
}

.features-section__core-intro {
  width: 400px;
  position: absolute;
  top: 0;
  right: 50%;
  font-size: 16px;
  line-height: 1.5;
  color: #131313;
  z-index: 30;
}

.features-section__core-figure {
  position: absolute;
  display: flex;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 480px;
}

.features-section__core-figure svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 88px 0 0 -22px;
  transform: translate(-50%, -50%) skew(calc(10deg - (10deg * var(--progress))))
    rotate(calc((10deg - (10deg * var(--progress))) * -1));
}
