.feedback-section {
  padding-top: 64px;
  padding-bottom: 104px;
}

.feedback-section__title {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(175, 173, 173, 0.43);
  margin-left: auto;
  margin-right: 232px;
  padding: 60px 116px 90px 132px;
  font-size: 24px;
  width: 777px;
  color: rgb(19, 19, 19);
  font-style: italic;
  line-height: 1.5;
  position: relative;
  margin-right: 240px;
  margin-bottom: 64px;
  transform: scale(calc((1.15 - (0.15 * var(--progress)))));
}

.feedback-section__title::after {
  content: '';
  width: 59px;
  height: 69px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59px' height='69px'%3E%3Cpath fill-rule='evenodd' fill='rgb(126, 40, 38)' d='M58.508,11.644 C58.504,8.729 56.794,6.249 52.818,3.387 C37.676,-7.515 17.278,9.102 11.594,36.968 L9.375,47.849 L7.455,41.978 C5.838,37.035 5.049,36.243 2.446,36.950 C-0.046,37.632 -0.073,39.710 2.300,47.790 C3.931,53.323 5.209,59.721 5.168,62.113 C5.066,68.188 9.125,70.654 11.007,65.659 C11.799,63.575 16.073,56.829 20.536,50.630 C27.698,40.683 28.306,39.227 25.834,38.028 C24.152,37.210 21.476,38.172 19.139,40.432 C15.322,44.116 15.301,44.016 17.920,35.394 C24.954,12.220 46.453,-0.989 53.493,13.532 C55.665,18.009 58.517,16.933 58.508,11.644 L58.508,11.644 Z'/%3E%3C/svg%3E");
  position: absolute;
  left: 264px;
  bottom: -40px;
  transform: translateY(calc((20px - (20px * var(--progress)))));
}

.feedback-section__form {
  display: flex;
  justify-content: center;
}

.feedback-form {
  width: 760px;
  display: grid;
  grid-template-columns: 240px 60px 1fr;
  grid-template-rows: 1fr;
  gap: 0;
  grid-template-areas: 'side side main';
  position: relative;
  z-index: 1;
}

.feedback-form__side {
  width: 240px;
  grid-area: side;
  padding-top: 40px;
}

.feedback-form__main {
  width: 460px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 36px;
}

.feedback-form__person {
}

.feedback-form__person-photo {
  margin-bottom: 18px;
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 92px;
  overflow: hidden;
  background: url('../images/person.jpg') no-repeat 50% 50%;
  background-size: cover;
  transform: rotate(calc(4deg * var(--progress) * -1));
}

.feedback-form__person-name {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

.feedback-form__person-job {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.feedback-form__phone {
  margin-top: 32px;
}

.feedback-form__phone-lbl {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.feedback-form__phone-val {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Gilroy', sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.feedback-form__header {
  position: relative;
  padding-left: 94px;
  margin-bottom: 32px;
}

.feedback-form__header-icon {
  width: 60px;
  height: 60px;
  background-color: #0000004d;
  border-radius: 24px;
  transform: rotate(calc(10deg * var(--progress) * -1));
  position: absolute;
  left: 13px;
  top: -7px;
  z-index: 1;
}

.feedback-form__header-icon::after {
  content: '?';
  font-family: 'Gilroy', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(calc(6deg * var(--progress)));
}

.feedback-form__header-icon::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.102);
  position: absolute;
  border-radius: 26px;
  left: -4px;
  top: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;
}

.feedback-form__header-title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 1.1;
}

.feedback-form__header-desc {
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.741);
  line-height: 1.143;
}

.feedback-form__input {
  margin-bottom: 22px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.feedback-form__submit {
  border: 1px solid #d97a77;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(39, 41, 53);
  line-height: 1.2;
  text-align: center;
  height: 54px;
  padding: 0 32px;
  font-weight: 500;
  transition-duration: 150ms;
  cursor: pointer;
}

.feedback-form__submit:hover {
  background-color: rgb(198, 215, 227);
  border-color: rgb(198, 215, 227);
  transition-duration: 300ms;
}

.feedback-form__rules {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 1.286;
  font-weight: 300;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.feedback-form__figure-gray {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -100px;
  transform: translateX(-50%) skew(calc(10deg - (10deg * var(--progress))))
    rotate(calc((10deg - (10deg * var(--progress))) * -1));
}

.feedback-form__figure-red {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skew(calc((10deg - (10deg * var(--progress))) * -1))
    rotate(calc(10deg - (10deg * var(--progress))));
}
