.footer {
  overflow: hidden;
}

.footer-primary {
  display: grid;
  grid-template-columns: auto 48px auto 1fr auto 1fr auto 64px auto;
  grid-template-rows: auto 36px 1fr;
  gap: 0;
  grid-template-areas:
    'logo . phone . nav . links . social'
    '. . . . nav . links . social'
    'contacts contacts contacts . nav . links . social';
  border-top: 1px solid #e1e5ee;
  padding-top: 32px;
  padding-bottom: 6px;

  @media (--max-2xl) {
    grid-template-columns: auto 24px auto 1fr auto 1fr auto 24px auto;
    grid-template-rows: auto 24px 1fr;
  }

  @media (--max-xl) {
    grid-template-columns: auto 12px auto 1fr auto 1fr auto 12px auto;
    grid-template-rows: auto 12px 1fr;
  }

  @media (--max-lg) {
    /* grid-template-columns:
      max-content minmax(12px, 1fr) auto minmax(12px, 1fr) auto minmax(12px, 1fr)
      auto;
    grid-template-rows: auto 12px auto 12px auto;
    gap: 0px 0px;
    grid-template-areas:
      'logo . nav . links . social'
      '. . nav . links . social'
      'phone . nav . links . social'
      '. . nav . links . social'
      'contacts . nav . links . social'; */
    grid-template-columns: auto minmax(12px, 1fr) auto minmax(12px, 1fr) auto minmax(12px, 1fr) auto;
    grid-template-rows: auto 12px auto 12px auto;
    gap: 0px 0px;
    grid-template-areas:
      'logo . phone phone phone . social'
      '. . . . . . social'
      'contacts . nav . links . social'
      '. . . . . . .'
      '. . . . . . .';
  }

  @media (--max-md) {
    padding-top: 20px;
    padding-bottom: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 20px auto 20px auto 20px auto 20px auto 20px auto;
    grid-template-areas:
      'logo logo logo'
      '. . .'
      'social social social'
      '. . .'
      'phone phone phone'
      '. . .'
      'contacts contacts contacts'
      '. . .'
      'nav nav nav'
      '. . .'
      'links links links';
  }
}

.footer-primary__logo {
  grid-area: logo;

  @media (--max-lg) {
    display: flex;
    align-items: center;
  }

  @media (--max-md) {
    justify-content: center;
  }
}

.footer-primary__phone {
  grid-area: phone;
}

.footer-primary__contacts {
  grid-area: contacts;

  @media (--max-lg) {
    padding: 6px 0;
  }

  @media (--max-md) {
    padding: 0;
  }
}

.footer-primary__nav {
  grid-area: nav;
  padding: 24px 0;

  @media (--max-lg) {
    padding: 0;
  }
}

.footer-primary__links {
  grid-area: links;
  padding: 30px 0;

  @media (--max-lg) {
    padding: 6px 0;
  }

  @media (--max-md) {
    padding: 0;
  }
}

.footer-primary__social {
  grid-area: social;
  padding: 12px 0;

  @media (--max-lg) {
    padding: 6px 0;
  }

  @media (--max-md) {
    padding: 0;
    .v-social {
      flex-direction: row;
      justify-content: center;
    }
  }
}

.footer-secondary {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  grid-template-rows: auto;
  gap: 0;
  grid-template-areas: 'copyright . sitemap . vendor';
  border-top: 1px solid #e1e5ee;
  align-items: center;
  min-height: 48px;
  padding: 12px 0;

  @media (--max-md) {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 12px auto;
    grid-template-areas:
      'copyright copyright copyright'
      '. . .'
      'sitemap . vendor';
  }
}

.footer-secondary__copyright {
  grid-area: copyright;

  @media (--max-md) {
    text-align: center;
  }
}

.footer-secondary__sitemap {
  grid-area: sitemap;
}

.footer-secondary__vendor {
  grid-area: vendor;
}

.footer__copyright {
  font-size: 12px;
  color: rgb(87, 87, 88);
  line-height: 1.2;
}

.footer__sitemap {
  font-size: 12px;
  color: rgb(87, 87, 88);
  text-decoration: underline;
  line-height: 1.2;
  display: inline-block;
  padding: 0 5px;
}

.footer__sitemap:hover {
  color: #fff;
  background: #c9413c;
  text-decoration: none;
}

.footer__creator {
  display: flex;
  opacity: 0.8;
}

.footer__creator:hover {
  opacity: 1;
}

.footer__logo {
  display: flex;

  @media (--max-lg) {
    zoom: 0.9;
  }
}

.footer-contacts {
  display: flex;
  gap: 68px;
  border-bottom: 1px solid #e1e5ee;
  padding: 10px 0;

  @media (--max-2xl) {
    gap: 24px;
  }

  @media (--max-xl) {
    gap: 12px;
    flex-direction: column;
  }

  @media (--max-lg) {
    gap: 24px;
    flex-direction: row;
  }

  @media (--max-md) {
    column-gap: 48px;
    row-gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-contacts__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-contacts__item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  color: #afadad;
  font-size: 40px;
}

.footer-contacts__item-body {
}

.footer-contacts__item-val {
  font-size: 16px;
  font-family: 'Gilroy';
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
}

.footer-contacts__item-desc {
  font-size: 11px;
  color: rgb(196, 196, 196);
  line-height: 1;
  margin-top: 2px;

  @media (--max-md) {
    margin-right: -30px;
  }
}

.footer__contacts {
  font-size: 12px;
  font-family: 'Gilroy', sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.333;

  @media (--max-md) {
    text-align: center;
  }
}

.footer__nav {
  column-count: 2;
  column-width: auto;
  width: min-content;

  @media (--max-md) {
    text-align: center;
  }
}

.footer__nav li {
  margin: 0 0 3px;
}

.footer__nav li a {
  font-size: 14px;
  color: rgb(19, 19, 19);
  text-decoration: underline;
  line-height: 1.333;
  display: inline-block;
  padding: 0 5px;
}

.footer__nav li a:hover {
  color: #fff;
  background: #c9413c;
  text-decoration: none;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;

  @media (--max-md) {
    align-items: center;
  }
}

.footer__links a {
  font-size: 12px;
  color: rgb(19, 19, 19);
  text-decoration: underline;
  line-height: 1.333;
  display: inline-block;
  padding: 0 5px;
}

.footer__links a:hover {
  color: #fff;
  background: #c9413c;
  text-decoration: none;
}

.footer__notice {
  font-size: 11px;
  color: rgba(19, 19, 19, 0.82);
  line-height: 1.2;
  text-align: justify;
  width: min-content;
  margin-top: 30px;
  margin-left: auto;
  direction: rtl;

  @media (--max-md) {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}

.footer__notice span {
  letter-spacing: 0.66em;

  @media (--max-md) {
    letter-spacing: 0;
  }
}
