.float-contacts {
  position: absolute;
  top: calc((108px + var(--header-before) + var(--header-height)));
  right: calc(((100vw - var(--container-width)) / 2) + var(--container-padding));
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  z-index: 90;

  @media (--max-lg) {
    top: calc((32px + var(--header-before) + var(--header-height)));
  }

  @media (--max-md) {
    right: calc(var(--container-padding) / 2 + 4px);
  }
}

.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
  background: transparent;
}

.header[data-sticky-header='active'] {
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(38, 70, 102, 0.16);
  transition: 0.3s ease;
}

.header-before {
  height: var(--header-before);
}

.header-anchor {
  position: relative;
  top: calc(-1 * var(--wp-admin--admin-bar--height, 0px));
  height: 0;
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: auto 2fr auto 2fr auto 1fr auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: 'logo . nav . phone . call';
  align-items: center;
  height: var(--header-height);

  @media (--max-lg) {
    grid-template-columns: auto 24px auto 2fr auto 24px auto;
    grid-template-areas: 'toggle . logo . phone . call';
  }

  @media (--max-md) {
    grid-template-columns: auto 12px auto 2fr auto 12px auto;
  }
}

.header-logo {
  display: flex;
  grid-area: logo;
  flex-shrink: 0;
  width: 133px;
  height: 49px;

  @media (--max-md) {
    width: calc(133px * 0.8);
    height: calc(49px * 0.8);
  }
}

.header-logo img {
}

.header-toggle {
  grid-area: toggle;
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f4647;
  line-height: 1;
  cursor: pointer;

  @media (--min-lg) {
    display: none;
  }

  @media (--max-md) {
    margin-left: calc(var(--container-padding) / 2 * -1);
  }
}
.header-toggle:hover {
  color: #c93f3b;
}

.header-toggle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  bottom: 0;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.header-toggle::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  bottom: 0;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.header-nav {
  grid-area: nav;

  @media (--max-lg) {
    display: none;
  }
}

.header-nav__close {
  display: none;
}

.header-nav__list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-nav__list li a {
  font-size: 16px;
  color: rgb(63, 70, 71);
  line-height: 40px;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.header-nav__list li a::after {
  content: '';
  width: 34px;
  height: 3px;
  background: #303437;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  opacity: 0;
}

.header-nav__list li.current-menu-item a::after {
  opacity: 1;
}

.header-nav__list li:hover a::after {
  background: #c93f3b;
  width: 50px;
  opacity: 1;
}

.header-phone {
  grid-area: phone;
  text-align: right;
  line-height: 1;
  font-family: 'Gilroy';
}

.header-phone__number {
  font-size: 16px;
  color: rgb(48, 52, 55);
  font-weight: bold;
  display: block;
}

.header-phone__time {
  font-size: 14px;
  letter-spacing: 0.075em;
  color: rgb(63, 70, 71);
  display: block;
  margin-top: 2px;

  @media (--max-xl) {
    font-size: 12px;
  }

  @media (--max-md) {
    display: none;
  }
}

.header-callback {
  --transition-speed: 0.5;

  grid-area: call;
  font-size: 16px;
  color: rgb(63, 70, 71);
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.05em;
  position: relative;
  height: 48px;
  position: relative;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (--max-md) {
    margin-right: calc(var(--container-padding) / 2 * -1);
  }
}

.header-callback::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  bottom: 0;
  border-left: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;

  @media (--min-xl) {
    display: none;
  }
}

.header-callback::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  bottom: 0;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;

  @media (--min-xl) {
    display: none;
  }
}

.header-callback__text {
  @media (--max-xl) {
    display: none;
  }
}

.header-callback .icon-arrow-right {
  margin-left: 10px;
  margin-right: -10px;

  @media (--max-xl) {
    display: none;
  }
}

.header-callback .icon-phone {
  font-size: 24px;
  margin-left: -12px;
  margin-right: -12px;

  @media (--min-xl) {
    display: none;
  }
}

.header-callback__l-l-1 {
  position: absolute;
  height: 3px;
  right: calc(100% - 42px);
  bottom: 0;
  width: 0;
  background: currentColor;
  transition: width calc(200ms * var(--transition-speed)) ease-out;
  transition-delay: calc(400ms * var(--transition-speed));

  @media (--max-xl) {
    display: none;
  }
}

.header-callback__l-l-2 {
  position: absolute;
  height: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background: currentColor;
  transition: height calc(200ms * var(--transition-speed)) linear;
  transition-delay: calc(200ms * var(--transition-speed));

  @media (--max-xl) {
    display: none;
  }
}

.header-callback__l-l-3 {
  position: absolute;
  height: 3px;
  left: 0;
  top: 0;
  width: 0;
  background: currentColor;
  transition: width calc(200ms * var(--transition-speed)) ease-in;
  transition-delay: 0ms;

  @media (--max-xl) {
    display: none;
  }
}

.header-callback__l-r-1 {
  position: absolute;
  height: 3px;
  left: calc(100% - 42px);
  bottom: 0;
  width: 0;
  background: currentColor;
  transition: width calc(200ms * var(--transition-speed)) ease-out;
  transition-delay: calc(400ms * var(--transition-speed));

  @media (--max-xl) {
    display: none;
  }
}

.header-callback__l-r-2 {
  position: absolute;
  height: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  background: currentColor;
  transition: height calc(200ms * var(--transition-speed)) linear;
  transition-delay: calc(200ms * var(--transition-speed));

  @media (--max-xl) {
    display: none;
  }
}

.header-callback__l-r-3 {
  position: absolute;
  height: 3px;
  right: 0;
  top: 0;
  width: 0;
  background: currentColor;
  transition: width calc(200ms * var(--transition-speed)) ease-in;
  transition-delay: 0ms;

  @media (--max-xl) {
    display: none;
  }
}

.header-callback__l-c {
  height: 3px;
  width: 34px;
  left: 50%;
  transform: translateX(-50%);
  background: currentColor;
  position: absolute;
  bottom: 0;
  transition: width calc(300ms * var(--transition-speed)) ease-out;
  transition-delay: calc(600ms * var(--transition-speed));

  @media (--max-xl) {
    display: none;
  }
}

.header-callback:hover {
  --transition-speed: 0.8;

  color: #c93f3b;
}

.header-callback:hover .header-callback__l-c {
  width: 48px;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.header-callback:hover .header-callback__l-l-1 {
  width: 42px;
  transition-delay: calc(300ms * var(--transition-speed));
  transition-timing-function: ease-in;
}

.header-callback:hover .header-callback__l-l-2 {
  height: 48px;
  transition-delay: calc(500ms * var(--transition-speed));
}

.header-callback:hover .header-callback__l-l-3 {
  width: 42px;
  transition-delay: calc(700ms * var(--transition-speed));
  transition-timing-function: ease-out;
}

.header-callback:hover .header-callback__l-r-1 {
  width: 42px;
  transition-delay: calc(300ms * var(--transition-speed));
  transition-timing-function: ease-in;
}

.header-callback:hover .header-callback__l-r-2 {
  height: 48px;
  transition-delay: calc(500ms * var(--transition-speed));
}

.header-callback:hover .header-callback__l-r-3 {
  width: 42px;
  transition-delay: calc(700ms * var(--transition-speed));
  transition-timing-function: ease-out;
}
