.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0px);
  z-index: 100;
  background: transparent;
}

.header[data-sticky-header='active'] {
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(38, 70, 102, 0.16);
  transition: 0.3s ease;
}

.header-before {
  height: 64px;
}

.header-anchor {
  position: relative;
  top: calc(-1 * var(--wp-admin--admin-bar--height, 0px));
  height: 0;
  width: 100%;
}

.header-container {
  display: grid;
  grid-template-columns: auto 2fr auto 2fr auto 1fr auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: 'logo . nav . phone . call';
  align-items: center;
  height: var(--header-height);
}

.header-logo {
  display: flex;
  grid-area: logo;
}

.header-nav {
  grid-area: nav;
  display: flex;
  gap: 24px;
  align-items: center;
}

.header-nav li a {
  font-size: 16px;
  color: rgb(63, 70, 71);
  line-height: 40px;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.header-nav li a::after {
  content: '';
  width: 34px;
  height: 3px;
  background: #303437;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  opacity: 0;
}

.header-nav li.current-menu-item a::after {
  opacity: 1;
}

.header-nav li:hover a::after {
  background: #c93f3b;
  width: 50px;
  opacity: 1;
}

.header-phone {
  grid-area: phone;
}

.header-phone__number {
}

.header-phone__time {
}

.header-callback {
  grid-area: call;
}

.header-callback__text {
}

.header-callback__arrow {
}

.header-callback__line-s {
}

.header-callback__line-m {
}

.header-callback__line-r {
}
