.intro-section {
  --bg-cf: 1;

  margin-top: -120px;
  background-position: 50% 0, 50% 0;
  background-repeat: no-repeat, no-repeat;
  background-image: url('../images/intro-bg.jpg'), url('../images/intro-bg.jpg');
  background-size: calc(1920px * var(--bg-cf)) calc(1285px * var(--bg-cf)), cover;
  background-position-y: calc(0% + (200px * var(--progress))), 0;
  position: relative;
  z-index: 1;
  padding-top: 192px;
  padding-bottom: 152px;

  @media (--max-3xl) {
    /* 0.8 */
    --bg-cf: 1536 / 1920;
  }

  @media (--max-2xl) {
    /* 0.66 */
    --bg-cf: 1280 / 1920;
    padding-top: calc(192px * 0.66);
    padding-bottom: calc(152px * 0.66);
    margin-top: -80px;
  }

  @media (--max-xl) {
    --bg-cf: 1024 / 1920;
  }
}

.intro-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - ((100vw - calc(1920px * var(--bg-cf))) / 2));
  background: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' style='opacity: 0.2'/%3E%3C/svg%3E");
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 12px rgba(38, 70, 102, 0.161);
}

.intro-section::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: calc(100% - ((100vw - calc(1920px * var(--bg-cf))) / 2));
  background: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' style='opacity: 0.2'/%3E%3C/svg%3E");
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 12px rgba(38, 70, 102, 0.161);
}

.intro-content {
  position: relative;

  @media (--max-3xl) {
    zoom: 0.8;
  }

  @media (--max-2xl) {
    zoom: 0.66;
  }
}

.intro-content__vertical-text {
  content: '';
  position: absolute;
  right: 86px;
  top: -10px;
  background: url('../images/intro-vertical-text.png') no-repeat 50% 50%;
  background-size: cover;
  width: 45px;
  height: 577px;
}

.intro-content__title {
  font-size: 153px;
  text-transform: uppercase;
  line-height: 140px;
  color: #3f4647;
  text-align: center;
  font-weight: 500;
  width: min-content;
  margin-bottom: 74px;
  /* 
  @media (--max-3xl) {
    font-size: 136px;
    line-height: 124px;
    margin-bottom: 56px;
  } */
}

.intro-content__content {
  width: 520px;

  /* @media (--max-3xl) {
    width: 480px;
  } */
}

.intro-content__content-title {
  font-weight: 600;
  color: #fff;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 40px;

  /* @media (--max-3xl) {
    font-size: 48px;
    margin-bottom: 32px;
  } */
}

.intro-content__content-desc {
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  width: 85%;

  /* @media (--max-3xl) {
    font-size: 20px;
    line-height: 24px;
  } */
}

.intro-content__actions {
  width: 400px;
  margin-top: 88px;

  /* @media (--max-3xl) {
    width: 360px;
    margin-top: 64px;
  } */
}

.intro-content__action {
  background-color: rgb(201, 63, 59);
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 20px;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.025em;
  color: #fff;
  transition: 150ms ease;

  /* @media (--max-3xl) {
    height: 64px;
  } */
}

.intro-content__action-text {
  transition: 150ms ease;
}

.intro-content__action:hover {
  background: #b53935;
  transition-duration: 300ms;
}

.intro-content__action:hover .intro-content__action-text {
  filter: drop-shadow(0px 0px 0.5px #fff);
  transition-duration: 300ms;
}

.intro-content__enum {
  width: 865px;
  padding-top: 98px;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 48px;

  /* @media (--max-3xl) {
    padding-top: 80px;
  } */
}

.intro-content__enum::after {
  content: '';
  width: 14px;
  height: 163px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  position: absolute;
  right: -100px;
  bottom: -10px;
  transform: scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress)))));
}

.intro-content__enum-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.intro-content__enum-item-check {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  background: #4c504e;
  border-radius: 50%;
  flex-shrink: 0;
}

.intro-content__enum-item-text {
  font-size: 16px;
  color: #b4afb1;
  line-height: 20px;
}

.intro-content__contacts {
  position: absolute;
  top: 32px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
