:root {
  --icon-arrow-right: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='m13.406 2.538-1.8 1.793 6.47 6.445H1.005v2.535h17.07l-6.47 6.445 1.8 1.795 7.742-7.713 1.802-1.795z' /%3E%3C/svg%3E");
  --icon-vk: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M17.45 11.86c.55.345 1.708.923 3.426 2.878.622.71 2.073 3.036 2.1 4.221H19.15c-.573-2.487-3.044-4.827-5.738-5.055v5.055C4.879 18.96.979 12.88.979 4.978H4.7c0 2.941 1.484 9.366 5.206 9.68v-9.68h3.507v5.485c1.363 0 2.68-1.205 3.375-1.962 1.294-1.407 1.424-2.437 1.938-3.523h3.506c-.095.202-.227.87-.293 1.1-.71 2.44-2.444 4.398-4.488 5.783z'/%3E%3C/svg%3E");
  --icon-max: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.062 22.863c-.9 0-2.03-.025-3.026-.523-1.252-.644-1.714-1.033-1.714-1.033s-.389.571-1.397 1.058c-1.058.498-2.37.838-2.832.376-.547-.547-.34-.547-.547-2.175-.024-.182-.668-2.747-.911-3.84a23.127 23.127 0 0 1-.571-4.752c-.11-5.955 4.982-10.89 10.998-10.89 6.003 0 10.877 4.874 10.877 10.89 0 6.015-4.874 10.889-10.877 10.889zm-.049-16.407c-3.05 0-5.371 2.48-5.517 5.53-.122 2.552.11 4.582.863 5.505.376.462 1.689-.923 1.689-.923s.595.425 1.349.692c.522.195 1.167.256 1.616.256a5.516 5.516 0 0 0 5.518-5.53c0-3.05-2.467-5.53-5.518-5.53z'/%3E%3C/svg%3E");
  --icon-rutube: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.534 12.555c.88 0 1.332-.135 1.332-1.088v-1.222c0-.917-.476-1.088-1.332-1.088h-8.8v3.398zm.599-6.6c0-.11 1.846.182 2.041.231 1.064.355 1.858 1.076 2.188 2.14.306.965.245 2.065.245 3.068q0 2.102-.734 3.092c-.5.66-1.088 1.051-2.42 1.247l3.594 4.755h-4.168l-3.264-4.73H4.733v4.73H1.005V5.954zm6.882-2.568h.11c1.027 0 1.87.844 1.87 1.87a1.87 1.87 0 0 1-1.87 1.87h-.11a1.873 1.873 0 0 1-1.883-1.87 1.88 1.88 0 0 1 1.883-1.87z'/%3E%3C/svg%3E");
  --icon-ok: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.74 15.6q-1.58.964-3.35 1.362l3.22 3.152c.657.646.657 1.69 0 2.336a1.71 1.71 0 0 1-2.386 0l-3.162-3.102-3.161 3.102a1.685 1.685 0 0 1-1.194.488c-.437 0-.865-.16-1.193-.488a1.633 1.633 0 0 1 0-2.336l3.222-3.152q-1.78-.398-3.351-1.363a1.633 1.633 0 0 1-.527-2.277 1.707 1.707 0 0 1 2.327-.527 7.407 7.407 0 0 0 7.755 0 1.707 1.707 0 0 1 2.327.527c.497.766.259 1.79-.527 2.277zm-5.677-3.252c-3.172 0-5.758-2.526-5.758-5.638s2.586-5.647 5.758-5.647c3.171 0 5.757 2.535 5.757 5.647s-2.586 5.638-5.758 5.638zm0-7.974c-1.313 0-2.387 1.044-2.387 2.336 0 1.283 1.074 2.337 2.386 2.337 1.313 0 2.387-1.054 2.387-2.337 0-1.292-1.074-2.336-2.386-2.336z'/%3E%3C/svg%3E");
  --icon-mail: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-mail-icon lucide-mail'%3E%3Cpath d='m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7'/%3E%3Crect x='2' y='4' width='20' height='16' rx='2'/%3E%3C/svg%3E");
  --icon-area: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.457 22.878V.998h21.211v21.88zm19.8-20.682H2.868v4.773h9.195v1.06H2.867v13.385h8.199l-.064-10.203h1.06v10.203h9.196V8.029h-4.953v10.606h-1.06V6.97l6.013-.096z' /%3E%3C/svg%3E");
  --icon-calendar: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.09 23V2.429h2.663V5.17h3.989V2.429h6.641V5.17h3.989V2.429h2.662V23zM20.6609 6.547H3.418v15.077h17.29zM6.08 9.289H4.753V7.923H6.08zm0 2.742H4.753v-1.376H6.08zm0 2.742H4.753v-1.366H6.08zm0 2.743H4.753V16.14H6.08zm0 2.742H4.753v-1.366H6.08zM8.742 9.289H7.406V7.913h1.336zm0 2.742H7.406v-1.366h1.336zm0 2.742H7.406v-1.376h1.336zm0 2.743H7.406V16.15h1.336zm0 2.742H7.406v-1.376h1.336zm2.652-10.969h-1.326V7.923h1.326zm0 2.742h-1.326v-1.376h1.326zm0 2.742h-1.326v-1.366h1.326zm0 2.743h-1.326V16.14h1.326zm0 2.742h-1.326v-1.366h1.326zm2.663-10.969H12.73V7.913h1.326zm0 2.742H12.73v-1.366h1.326zm0 2.742H12.73v-1.376h1.326zm0 2.743H12.73V16.15h1.326zm0 2.742H12.73v-1.376h1.326zm2.662-10.969h-1.336V7.923h1.336zm0 2.742h-1.336v-1.376h1.336zm0 2.742h-1.336v-1.366h1.336zm0 2.743h-1.336V16.14h1.336zm2.653-8.227h-1.327V7.923h1.327zm0 2.742h-1.327v-1.376h1.327zm0 2.742h-1.327v-1.366h1.327zm0 2.743h-1.327V16.14h1.327zM16.719 1.063h1.326v2.742H16.72zm-10.64 0h1.327v2.742H6.08z' /%3E%3C/svg%3E");
  --icon-phone: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.082 13.111c1 1.262 2.577 3.84 3.99 2.578 1.206-1.083 1.494-1.371 2.906-.549.918.535 3.578 3.414 3.304 4.84-.027.137-.11.48-.26.7-.453.698-1.262 1.713-2.77 2.248-.397.137-.918.054-1.467-.083-1.81-.411-5.32-3.99-6.594-5.634-.22-.275-.466-.604-.521-.658-1.165-1.481-2.139-3.03-3.153-5.594-.823-2.084-1.975-5.484-1.618-7.033.123-.562.274-1.07.576-1.357C5.613 1.459 6.888 1.17 7.724 1.06c.26-.028.603.054.727.082 1.425.37 2.851 4.017 2.933 5.072.124 1.632-.26 1.755-1.768 2.372-1.673.686-.48 3.167.466 4.524z'/%3E%3C/svg%3E");
  --icon-phone-circle: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='36' height='36'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23afadad' stroke-linejoin='round' stroke-width='2' d='m18.01 1.18c9.3 0 16.83 7.54 16.83 16.83 0 9.29-7.53 16.83-16.83 16.83-9.29 0-16.83-7.54-16.83-16.83 0-9.29 7.54-16.83 16.83-16.83z'/%3E%3Cpath fill='%23afadad' fill-rule='evenodd' d='m16.67 18.75c0.69 0.86 1.76 2.61 2.72 1.76 0.83-0.664 1.03-0.94 1.99-0.37 0.62 0.36 2.44 2.32 2.25 3.29-0.02 0.1-0.08 0.33-0.17 0.48-0.31 0.48-0.87 1.17-1.89 1.53-0.28 0.1-0.63 0.04-1.01-0.05-1.23-0.28-3.63-2.72-4.49-3.84-0.16-0.19-0.32-0.41-0.36-0.45-0.669-1.01-1.45-2.07-2.15-3.82-0.56-1.42-1.34-3.74-1.1-4.8 0.09-0.38 0.19-0.662 0.39-0.92 0.668-0.666 1.64-0.96 2.22-1.02 0.17-0.02 0.41 0.03 0.5 0.05 0.96 0.25 1.94 2.74 1.99 3.46 0.09 1.11-0.18 1.2-1.2 1.61-1.14 0.47-0.33 2.17 0.31 3.09z'/%3E%3C/svg%3E");
  --icon-snowflake: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m22.938 12-.576-1.015h-2.56l1.115-1.947-.575-1.014H19.18l-1.691 2.961h-3.785l1.893-3.309h3.382l.585-1.014-.585-1.015h-2.23l1.279-2.24-.576-1.005h-1.16l-1.271 2.23-1.115-1.946h-1.161L12.17 3.7l1.69 2.962L11.97 9.97l-1.892-3.31 1.69-2.96-.575-1.015H10.03L8.916 4.633l-1.28-2.23H6.484L5.91 3.407l1.28 2.24H4.957l-.585 1.014.585 1.014H8.34l1.892 3.31H6.448L4.757 8.023H3.596L3.02 9.038l1.115 1.947h-2.56L1 12l.576 1.015h2.56L3.02 14.962l.576 1.014h1.16l1.692-2.961h3.784L8.34 16.324H4.958l-.585 1.014.585 1.015h2.23l-1.28 2.23.576 1.015h1.152l1.28-2.24 1.115 1.956h1.16l.577-1.014-1.691-2.962 1.892-3.318 1.892 3.318L12.17 20.3l.576 1.014h1.16l1.116-1.956 1.27 2.24h1.161l.576-1.006-1.28-2.24h2.23l.586-1.014-.585-1.014h-3.382l-1.893-3.31h3.785l1.69 2.962h1.162l.575-1.014-1.115-1.947h2.56z'/%3E%3C/svg%3E");
  --icon-sun: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m21.151 18.048.666-1.158-3.364-1.941q-.273.62-.665 1.157zm-2.789-6.053A6.354 6.354 0 0 0 12 5.642a6.352 6.352 0 0 0-6.353 6.353c0 3.51 2.844 6.363 6.353 6.363a6.362 6.362 0 0 0 6.362-6.363zm-1.458 9.817 1.148-.665-1.932-3.364q-.547.392-1.158.675zm-5.56 1.13h1.33V19.06q-.328.036-.665.036t-.665-.036zm-4.23-1.13 1.933-3.354q-.61-.283-1.149-.675l-1.941 3.364zm-4.256-3.764 3.363-1.942q-.392-.547-.665-1.157L2.192 16.89zM1.062 12.66h3.874q-.027-.328-.027-.666 0-.337.027-.665H1.062zm1.796-6.718-.666 1.149 3.355 1.941q.282-.61.674-1.158zm4.247-3.755-1.157.665 1.941 3.354q.547-.382 1.158-.665zm5.56-1.13h-1.33V4.93q.328-.027.665-.027t.665.027zm4.23 1.139L14.953 5.55q.62.283 1.158.666l1.941-3.355zm4.247 3.764-3.354 1.933q.383.547.665 1.157l3.364-1.941zm-2.087 5.387q.036.338.036.666 0 .346-.036.674h3.883v-1.34z'/%3E%3C/svg%3E");
  --icon-whatsapp: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23000' stroke='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.746 19.554a10.903 10.903 0 0 1-7.71 3.176q-1.296 0-2.561-.302-1.248-.302-2.407-.893c-.077-.035-.266-.154-.443-.254l-.006-.006-3.98 1.194-1.579.474.65-1.502c.38-.87.563-1.431.752-2.011.148-.455.301-.917.532-1.526-.112-.153-.23-.313-.272-.378q-.78-1.283-1.183-2.708-.408-1.431-.408-2.921c0-2.993 1.219-5.7 3.194-7.664a10.903 10.903 0 0 1 7.71-3.175c1.473 0 2.88.295 4.17.821a11.108 11.108 0 0 1 3.541 2.354c1 .993 1.81 2.188 2.366 3.524a10.665 10.665 0 0 1 .828 4.14c0 2.992-1.219 5.7-3.194 7.657zm.946-11.223a9.269 9.269 0 0 0-2.034-3.016 9.335 9.335 0 0 0-6.623-2.726 9.35 9.35 0 0 0-6.622 2.726 9.239 9.239 0 0 0-2.744 6.582q0 1.289.343 2.513.349 1.224 1.017 2.318c.018.03.136.189.242.33.113.149.213.285.237.32l.219.337-.148.373c-.32.768-.491 1.295-.657 1.81l-.218.661 2.797-.84.301-.088.284.154c.053.024.183.1.325.19l.355.206q.993.509 2.07.769 1.064.254 2.2.254a9.37 9.37 0 0 0 6.622-2.726 9.25 9.25 0 0 0 2.744-6.581 9.266 9.266 0 0 0-.71-3.566zm-4.766 3.364a3.574 3.574 0 0 0-3.583-3.565c-.538 0-.538-.81 0-.81 2.43 0 4.405 1.957 4.405 4.375 0 .539-.822.539-.822 0zm-3.53-1.833c.946 0 1.71.763 1.71 1.703 0 .539-.817.539-.817 0a.89.89 0 0 0-.893-.887c-.538 0-.538-.816 0-.816zm-.024-1.289a3.018 3.018 0 0 1 3.028 3.01c0 .538-.822.538-.822 0a2.2 2.2 0 0 0-2.206-2.194c-.544 0-.544-.816 0-.816zm-1.153 4.281c.586.468 1.573 1.461 2.076.746.432-.615.532-.775 1.254-.55.473.142 1.986 1.159 2.01 1.833.006.065 0 .23-.035.343a2.51 2.51 0 0 1-1.012 1.307c-.165.106-.413.118-.68.118-.857 0-2.826-1.242-3.577-1.851-.136-.106-.278-.225-.308-.248-.686-.539-1.289-1.136-2.022-2.194-.591-.852-1.478-2.265-1.484-2.998 0-.266.012-.509.118-.674.39-.621.934-.887 1.307-1.017.112-.042.278-.042.337-.042.68.018 1.715 1.514 1.869 1.981.23.722.065.816-.55 1.254-.68.479.124 1.478.697 1.992z'/%3E%3C/svg%3E");
  --icon-check: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-check-icon lucide-check'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
  --icon-chevron-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m15 18-6-6 6-6'/%3E%3C/svg%3E");
  --icon-chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  --icon-fullscreen: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 7V5a2 2 0 0 1 2-2h2'/%3E%3Cpath d='M17 3h2a2 2 0 0 1 2 2v2'/%3E%3Cpath d='M21 17v2a2 2 0 0 1-2 2h-2'/%3E%3Cpath d='M7 21H5a2 2 0 0 1-2-2v-2'/%3E%3Crect width='10' height='8' x='7' y='8' rx='1'/%3E%3C/svg%3E");
  --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E");
  --icon-menu: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 5h16'/%3E%3Cpath d='M4 12h16'/%3E%3Cpath d='M4 19h16'/%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m21 21-4.34-4.34'/%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3C/svg%3E");
  --icon-pay: url("data:image/svg+xml,%3Csvg version='1.2' width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='m9.766 3.057 10.83 2.79c.97.25 1.55 1.25 1.31 2.23l-.14.56-14.35-3.7.14-.56c.25-.97 1.25-1.57 2.21-1.32zm-6.11 7.52 2.5-.66.78-3.07 5.51 1.42.53-.14c.94-.25 1.91.14 2.44.9l5.86 1.51-.87 3.46c-.25.98-1.24 1.57-2.21 1.32l-1.09-.27.17.63c.31 1.22-.42 2.48-1.63 2.8l-9.32 2.45c-1.21.31-2.46-.42-2.77-1.64l-1.53-5.92c-.31-1.22.42-2.48 1.63-2.79zm11.65 1.11-11.96 3.15 1.09 4.21c.19.74.94 1.18 1.66.99l9.32-2.45c.73-.19 1.17-.95.98-1.68zm-12.28 1.88 11.95-3.14-.11-.43c-.19-.73-.93-1.18-1.66-.99l-9.32 2.45c-.73.2-1.17.95-.98 1.68zm10.23-.65c.62-.17 1.26.21 1.42.84.17.63-.21 1.27-.83 1.44a1.178 1.178 0 0 1-.59-2.28zm-2.22.58c.4-.11.81.01 1.09.28q-.1.31-.01.65.09.34.33.57c-.12.37-.42.67-.82.78-.62.16-1.26-.21-1.42-.84-.17-.63.21-1.28.83-1.44zm2.33-.14c-.38.1-.6.49-.5.88a.7.7 0 0 0 .86.51c.38-.1.61-.49.51-.88a.71.71 0 0 0-.87-.51zm-7.42 5.81c-.58.15-.81-.74-.23-.89l2.01-.53c.57-.15.8.74.22.89zm-.81-3.15c-.58.15-.81-.74-.23-.89l2-.53c.58-.15.81.74.23.89zm.41 1.57c-.58.16-.81-.73-.23-.89l2-.52c.58-.15.81.73.23.89zm3.99.63c-.58.16-.81-.73-.23-.89l2-.52c.58-.15.81.73.23.89zm3.59-.94c-.58.15-.81-.74-.23-.89l2-.52c.58-.16.81.73.23.88z' /%3E%3C/svg%3E");
  --icon-contract: url("data:image/svg+xml,%3Csvg version='1.2' width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M8.474 6.875h6.708c.75 0 .75 1.15 0 1.15H8.474c-.75 0-.75-1.15 0-1.15zM19.496 19.93v-.855c0-.76 1.14-.76 1.14 0v.855c0 1.131-.922 2.053-2.043 2.053H5.463a2.054 2.054 0 0 1-2.044-2.053V4.082c0-1.13.922-2.052 2.043-2.052h13.131c1.121 0 2.043.921 2.043 2.052V13.1c0 .76-1.14.76-1.14 0V4.082a.908.908 0 0 0-.903-.903H5.463a.9.9 0 0 0-.894.903V19.93c0 .504.4.903.893.903h13.131c.494 0 .903-.399.903-.903zM8.474 12.671h4.912c.751 0 .751 1.15 0 1.15H8.474c-.75 0-.75-1.15 0-1.15zm0-2.945h6.708c.75 0 .75 1.15 0 1.15H8.474c-.75 0-.75-1.15 0-1.15z' /%3E%3C/svg%3E");
  --icon-guarante: url("data:image/svg+xml,%3Csvg version='1.2' width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.39 7.267c1.386.826 2.971 1.367 4.585 1.452.313.02.55.285.532.608 0 1.537-.475 3.93-1.082 5.344-.684 1.604-2.25 3.502-4.035 3.853-1.784-.35-3.35-2.25-4.043-3.853-.598-1.415-1.082-3.807-1.082-5.344a.58.58 0 0 1 .54-.608c1.614-.085 3.2-.626 4.585-1.452zm-8.827.778c-.75 0-.75-1.148 0-1.148h4.803c.75 0 .75 1.148 0 1.148zM17.672 20.84a.901.901 0 0 0 .902-.901v-.855c0-.759 1.139-.759 1.139 0v.855c0 1.13-.921 2.05-2.041 2.05H4.554c-1.12 0-2.04-.92-2.04-2.05V4.106c0-1.13.92-2.05 2.04-2.05h13.118c1.12 0 2.04.92 2.04 2.05V6.47c0 .759-1.138.759-1.138 0V4.106a.907.907 0 0 0-.902-.902H4.554a.9.9 0 0 0-.892.902v15.833c0 .503.398.901.892.901h13.118zm-10.11-9.919c-.749 0-.749-1.148 0-1.148h2.488c.76 0 .76 1.148 0 1.148zm0 2.914c-.749 0-.749-1.148 0-1.148h3.01c.75 0 .75 1.148 0 1.148zm8.828 2.155h.01v-3.104h-2.25c.39 1.272 1.035 2.458 2.24 3.104zm2.24-3.104q.323-1.063.456-2.164-1.395-.304-2.686-.911v3.075zm-2.24 4.423c1.472-.588 2.402-1.727 2.99-3.094.57-1.348.826-2.914.95-4.395a11.306 11.306 0 0 1-3.94-1.243 11.355 11.355 0 0 1-3.948 1.243c.123 1.48.38 3.047.958 4.395.589 1.367 1.51 2.506 2.99 3.094z' /%3E%3C/svg%3E");
  --icon-telegram: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M41.4193 7.30899C41.4193 7.30899 45.3046 5.79399 44.9808 9.47328C44.8729 10.9883 43.9016 16.2908 43.1461 22.0262L40.5559 39.0159C40.5559 39.0159 40.3401 41.5048 38.3974 41.9377C36.4547 42.3705 33.5408 40.4227 33.0011 39.9898C32.5694 39.6652 24.9068 34.7955 22.2086 32.4148C21.4531 31.7655 20.5897 30.4669 22.3165 28.9519L33.6487 18.1305C34.9438 16.8319 36.2389 13.8019 30.8426 17.4812L15.7331 27.7616C15.7331 27.7616 14.0063 28.8437 10.7686 27.8698L3.75342 25.7055C3.75342 25.7055 1.16321 24.0823 5.58815 22.459C16.3807 17.3729 29.6555 12.1786 41.4193 7.30899Z' fill='%23000000'/%3E%3C/svg%3E");
  --icon-vk: url("data:image/svg+xml,%3Csvg fill='%23000000' width='24px' height='24px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.456 5.784c-.27.849-.634 1.588-1.09 2.259l.019-.03q-.672 1.12-1.605 2.588-.8 1.159-.847 1.2c-.138.173-.234.385-.267.618l-.001.007c.027.212.125.397.268.535l.4.446q3.21 3.299 3.611 4.548c.035.092.055.198.055.309 0 .194-.062.373-.167.52l.002-.003c-.176.181-.422.293-.694.293-.03 0-.061-.001-.09-.004h.004-2.631c-.001 0-.003 0-.005 0-.337 0-.647-.118-.89-.314l.003.002c-.354-.291-.669-.606-.951-.948l-.009-.012q-.691-.781-1.226-1.315-1.782-1.694-2.63-1.694c-.021-.002-.045-.003-.07-.003-.165 0-.319.051-.446.138l.003-.002c-.104.13-.167.298-.167.479 0 .036.002.07.007.105v-.004c-.027.314-.043.679-.043 1.048 0 .119.002.237.005.355v-.017 1.159c.01.047.016.101.016.156 0 .242-.11.458-.282.601l-.001.001c-.387.177-.839.281-1.316.281-.102 0-.202-.005-.301-.014l.013.001c-1.574-.03-3.034-.491-4.275-1.268l.035.02c-1.511-.918-2.763-2.113-3.717-3.525l-.027-.042c-.906-1.202-1.751-2.56-2.471-3.992l-.07-.154c-.421-.802-.857-1.788-1.233-2.802l-.06-.185c-.153-.456-.264-.986-.31-1.535l-.002-.025q0-.758.892-.758h2.63c.024-.002.052-.003.081-.003.248 0 .477.085.658.228l-.002-.002c.2.219.348.488.421.788l.003.012c.484 1.367.997 2.515 1.587 3.615l-.067-.137c.482.97 1.015 1.805 1.623 2.576l-.023-.031q.8.982 1.248.982c.009.001.02.001.032.001.148 0 .277-.08.347-.2l.001-.002c.074-.19.117-.411.117-.641 0-.049-.002-.098-.006-.146v.006-3.879c-.021-.457-.133-.884-.32-1.267l.008.019c-.124-.264-.273-.492-.45-.695l.003.004c-.164-.164-.276-.379-.311-.619l-.001-.006c0-.17.078-.323.2-.423l.001-.001c.121-.111.283-.178.46-.178h.008 4.146c.022-.003.047-.004.073-.004.195 0 .37.088.486.226l.001.001c.103.188.164.413.164.651 0 .038-.002.075-.005.112v-.005 5.173c-.002.024-.003.052-.003.08 0 .184.051.357.139.504l-.002-.004c.073.108.195.178.333.178h.001c.176-.012.336-.07.471-.162l-.003.002c.272-.187.506-.4.709-.641l.004-.005c.607-.686 1.167-1.444 1.655-2.25l.039-.07c.344-.57.716-1.272 1.053-1.993l.062-.147.446-.892c.155-.446.571-.76 1.06-.76.019 0 .038 0 .057.001h-.003 2.631q1.066 0 .8.981z'/%3E%3C/svg%3E");

  --progress: 0;
  --container-width: 100%;
  --container-padding: 16px;
  --header-before: 64px;
  --header-height: 56px;

  @media (--max-3xl) {
    --header-before: 48px;
  }

  @media (--max-2xl) {
    --header-before: 24px;
  }

  @media (--max-xl) {
    --header-before: 12px;
  }

  @media (--max-md) {
    --header-before: 0px;
  }

  @media (--min-md) {
    --container-width: 768px;
    --container-padding: 16px;
  }

  @media (--min-lg) {
    --container-width: 1024px;
    --container-padding: 16px;
  }

  @media (--min-xl) {
    --container-width: 1280px;
    --container-padding: 32px;
  }

  @media (--min-2xl) {
    --container-width: 1536px;
    --container-padding: 64px;
  }

  @media (--min-3xl) {
    --container-width: 1792px;
    --container-padding: 32px;
  }

  @media (--min-4xl) {
    --container-width: 1920px;
    --container-padding: 96px;
  }

  --global-scale: 1;

  @media (--max-3xl) {
    --global-scale: 0.8;
  }

  @media (--max-2xl) {
    --global-scale: 0.7;
  }

  @media (--max-xl) {
    --global-scale: 0.54;
  }

  @media (--max-lg) {
    --global-scale: 1;
  }
}

*,
*::before,
*::after {
  /* outline: 1px solid red; */
  min-width: 0;
}

.icon {
  width: 1em;
  height: 1em;
  background: currentColor;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

/* .icon-name {
  mask-image: var(--icon-name);
} */

.icon-pay {
  mask-image: var(--icon-pay);
}

.icon-contract {
  mask-image: var(--icon-contract);
}

.icon-guarante {
  mask-image: var(--icon-guarante);
}

.icon-chevron-left {
  mask-image: var(--icon-chevron-left);
}

.icon-chevron-right {
  mask-image: var(--icon-chevron-right);
}

.icon-fullscreen {
  mask-image: var(--icon-fullscreen);
}

.icon-menu {
  mask-image: var(--icon-menu);
}

.icon-search {
  mask-image: var(--icon-search);
}

.icon-close {
  mask-image: var(--icon-close);
}

.icon-check {
  mask-image: var(--icon-check);
}

.icon-arrow-right {
  mask-image: var(--icon-arrow-right);
}

.icon-vk {
  mask-image: var(--icon-vk);
}

.icon-max {
  mask-image: var(--icon-max);
}

.icon-rutube {
  mask-image: var(--icon-rutube);
}

.icon-ok {
  mask-image: var(--icon-ok);
}

.icon-mail {
  mask-image: var(--icon-mail);
}

.icon-area {
  mask-image: var(--icon-area);
}

.icon-calendar {
  mask-image: var(--icon-calendar);
}

.icon-phone {
  mask-image: var(--icon-phone);
}

.icon-phone-circle {
  mask-image: var(--icon-phone-circle);
}

.icon-snowflake {
  mask-image: var(--icon-snowflake);
}

.icon-sun {
  mask-image: var(--icon-sun);
}

.icon-whatsapp {
  mask-image: var(--icon-whatsapp);
}

.icon-telegram {
  mask-image: var(--icon-telegram);
}

.icon-vk {
  mask-image: var(--icon-vk);
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.688;
  font-size: 16px;
  background: #ffffff;
}

.container {
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.page-content .block-section {
  margin-left: calc((100vw - var(--container-width)) / 2 * -1);
  margin-right: calc((100vw - var(--container-width)) / 2 * -1);

  @media (--max-sm) {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
  }
}
