:root {
  --progress: 0;
  --container-width: 100%;
  --container-padding: 16px;
  --header-before: 64px;
  --header-height: 56px;

  @media (--max-3xl) {
    --header-before: 48px;
  }

  @media (--max-2xl) {
    --header-before: 24px;
  }

  @media (--max-xl) {
    --header-before: 12px;
  }

  @media (--max-md) {
    --header-before: 0px;
  }

  @media (--min-md) {
    --container-width: 768px;
    --container-padding: 16px;
  }

  @media (--min-lg) {
    --container-width: 1024px;
    --container-padding: 16px;
  }

  @media (--min-xl) {
    --container-width: 1280px;
    --container-padding: 32px;
  }

  @media (--min-2xl) {
    --container-width: 1536px;
    --container-padding: 64px;
  }

  @media (--min-3xl) {
    --container-width: 1792px;
    --container-padding: 32px;
  }

  @media (--min-4xl) {
    --container-width: 1920px;
    --container-padding: 96px;
  }

  --global-scale: 1;

  @media (--max-3xl) {
    --global-scale: 0.8;
  }

  @media (--max-2xl) {
    --global-scale: 0.7;
  }

  @media (--max-xl) {
    --global-scale: 0.54;
  }

  @media (--max-lg) {
    --global-scale: 1;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.688;
  font-size: 16px;
  background: #ffffff;
}

.container {
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.page-section {
  --bg-cf: var(--global-scale);

  flex-grow: 1;
  margin-top: calc((var(--header-before) + var(--header-height)) * -1);
  position: relative;
  z-index: 50;
  padding-top: calc((var(--header-before) + var(--header-height)) + (64px * var(--global-scale)));
  padding-bottom: 80px;

  @media (--max-lg) {
    padding-bottom: 64px;
    padding-top: calc((var(--header-before) + var(--header-height)) + 48px);
  }

  @media (--max-md) {
    padding-bottom: 48px;
    padding-top: calc((var(--header-before) + var(--header-height)) + 40px);
  }
}

.page-section__bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: calc(717px * var(--global-scale));
  z-index: -1;
  background-position: 50% 0, 50% 0;
  background-repeat: no-repeat, no-repeat;
  background-image: url('../images/page-bg.jpg'), url('../images/page-bg.jpg');
  background-size: calc(1920px * var(--global-scale)) calc(717px * var(--global-scale)), cover;
  background-position-y: calc(0% + ((200px * var(--global-scale)) * var(--progress))), 0;

  @media (--max-lg) {
    height: calc(717px * (768 / 1920));
    background-size: calc(1920px * (768 / 1920)) calc(717px * (768 / 1920)), cover;
  }
}

.page-section__bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - ((100vw - calc(1920px * var(--global-scale))) / 2));
  background: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' style='opacity: 0.2'/%3E%3C/svg%3E");
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 12px rgba(38, 70, 102, 0.161);

  @media (--max-lg) {
    right: calc(100% - ((100vw - calc(1920px * (768 / 1920))) / 2));
  }
}

.page-section__bg::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: calc(100% - ((100vw - calc(1920px * var(--global-scale))) / 2));
  background: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' style='opacity: 0.2'/%3E%3C/svg%3E");
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 12px rgba(38, 70, 102, 0.161);

  @media (--max-lg) {
    left: calc(100% - ((100vw - calc(1920px * (768 / 1920))) / 2));
  }
}

.breadcrumbs {
  display: flex;
  zoom: var(--global-scale);

  @media (--max-lg) {
    filter: drop-shadow(0px 0px 20px #fff) drop-shadow(0px 0px 20px #fff)
      drop-shadow(0px 0px 20px #fff);
  }
}

.breadcrumbs__list {
  display: flex;
  padding-right: 12px;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  position: relative;
}

.breadcrumbs__list::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  border-left: 1px solid #959595;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
}

.breadcrumbs__list::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  border-right: 1px solid #959595;
  border-top: 1px solid #959595;
  border-bottom: 1px solid #959595;
}

.breadcrumbs__list li {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.breadcrumbs__list li::before {
  content: '';
  display: block;
  border-left: 6px solid #c8c8c8;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-right: 12px;
}

.breadcrumbs__list li:first-child:before {
  display: none;
}

.breadcrumbs__item {
  color: #c8c8c8;
  font-size: 12px;
  line-height: 1.25;
  display: block;
  text-transform: uppercase;
}

a.breadcrumbs__item {
  color: #b9b9b9;

  &:hover {
    color: #000;
  }
}

.page-section__title {
  padding-left: 44px;
  position: relative;
  z-index: 10;
  font-size: 120px;
  line-height: 1;
  color: #3f4647;
  font-weight: 500;
  max-width: 60%;
  text-wrap: balance;
  line-height: 1;
  margin-bottom: 68px;
  zoom: var(--global-scale);
  filter: drop-shadow(0px 0px 1em #fff) drop-shadow(0px 0px 1em #fff) drop-shadow(0px 0px 1em #fff);

  @media (--max-lg) {
    max-width: 100%;
    font-size: 80px;
    margin-bottom: 48px;
    padding-left: 32px;
  }
  @media (--max-md) {
    font-size: 48px;
    margin-bottom: 36px;
    padding-left: 24px;
  }
}

.page-section__title::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 100px;
  left: 0;
  top: 15px;
  border-left: 3px solid currentColor;
  border-top: 3px solid currentColor;
  border-bottom: 3px solid currentColor;

  @media (--max-lg) {
    height: 80px;
    top: 10px;
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
  }
  @media (--max-md) {
    top: 5px;
    height: 50px;
  }
}

.page-section__title--small {
  font-size: 72px;
  line-height: 1.2;

  @media (--max-lg) {
    font-size: 56px;
  }
  @media (--max-md) {
    font-size: 36px;
  }
}

.page-section__title--small::before {
}

.page-section__breadcrumbs {
  margin-bottom: calc(16px * var(--global-scale));
  position: relative;
  z-index: 20;
}

.page-section__content {
  /* border-style: solid;
  border-width: 1px;
  border-color: rgba(204, 204, 204, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 32px; */
  margin-top: 68px;
}

.font-for-number {
  font-family: 'Gilroy';
}

/* h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
  }
  * + h2 {
    margin-top: 48px;
  } */
.feedback {
  overflow: hidden;
  padding-top: calc(64px * var(--global-scale));
  padding-bottom: calc(104px * var(--global-scale));
  position: relative;
  z-index: 60;

  @media (--max-lg) {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  @media (--max-md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.feedback__title {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(175, 173, 173, 0.43);
  margin-left: 41.2%;
  margin-right: 232px;
  padding: 60px 116px 90px 132px;
  font-size: 24px;
  width: auto;
  color: rgb(19, 19, 19);
  font-style: italic;
  line-height: 1.5;
  background: #fff;
  position: relative;
  margin-right: 13.8%;
  margin-bottom: 64px;
  /* transform: scale(calc((1.15 - (0.15 * var(--progress))))); */
  zoom: var(--global-scale);

  @media (--max-lg) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    zoom: 0.8;
  }

  @media (--max-md) {
    padding: 32px;
    zoom: 1;
    font-size: 18px;
  }
}

.feedback__title::after {
  content: '';
  width: 59px;
  height: 69px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59px' height='69px'%3E%3Cpath fill-rule='evenodd' fill='rgb(126, 40, 38)' d='M58.508,11.644 C58.504,8.729 56.794,6.249 52.818,3.387 C37.676,-7.515 17.278,9.102 11.594,36.968 L9.375,47.849 L7.455,41.978 C5.838,37.035 5.049,36.243 2.446,36.950 C-0.046,37.632 -0.073,39.710 2.300,47.790 C3.931,53.323 5.209,59.721 5.168,62.113 C5.066,68.188 9.125,70.654 11.007,65.659 C11.799,63.575 16.073,56.829 20.536,50.630 C27.698,40.683 28.306,39.227 25.834,38.028 C24.152,37.210 21.476,38.172 19.139,40.432 C15.322,44.116 15.301,44.016 17.920,35.394 C24.954,12.220 46.453,-0.989 53.493,13.532 C55.665,18.009 58.517,16.933 58.508,11.644 L58.508,11.644 Z'/%3E%3C/svg%3E");
  position: absolute;
  left: 50%;
  bottom: -40px;
  margin-left: -15%;
  /* transform: translateY(calc((20px - (20px * var(--progress))))); */
}

.feedback__form {
  display: flex;
  justify-content: center;

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
  }
}

.feedback-form {
  width: 760px;
  display: grid;
  grid-template-columns: 240px 60px 460px;
  grid-template-rows: auto;
  gap: 0;
  grid-template-areas: 'side . main';
  position: relative;
  z-index: 1;

  @media (--max-md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 32px auto;
    grid-template-areas:
      'side'
      '.'
      'main';
    background: #c9413c;
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    padding-top: 32px;
    padding-bottom: 32px;
    width: auto;
  }
}

.feedback-form__side {
  grid-area: side;
  padding-top: 40px;

  @media (--max-md) {
    padding-top: 0;
    display: grid;
    grid-template-columns: 120px 16px 1fr 1fr 1fr;
    grid-template-rows: auto 12px auto;
    gap: 0px 0px;
    grid-template-areas:
      'photo . person . .'
      'photo . . . .'
      'photo . phone . .';
    align-items: center;
  }
}

.feedback-form__main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 98px;
  padding-bottom: 36px;

  @media (--max-md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.feedback-form__person {
  @media (--max-md) {
    grid-area: person;
  }
}

.feedback-form__photo {
  margin-bottom: 18px;
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 92px;
  overflow: hidden;
  background: url('../images/person.jpg') no-repeat 50% 50%;
  background-size: cover;
  transform: rotate(-4deg);

  @media (--max-md) {
    grid-area: photo;
    width: 120px;
    height: 120px;
    border-radius: 44px;
    margin-bottom: 0;
  }
}

.feedback-form__person-name {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

.feedback-form__person-job {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}

.feedback-form__phone {
  margin-top: 32px;

  @media (--max-md) {
    grid-area: phone;
    margin-top: 0;
  }
}

.feedback-form__phone-lbl {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.feedback-form__phone-val {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Gilroy', sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.feedback-form__header {
  position: relative;
  padding-left: 94px;
  margin-bottom: 32px;

  @media (--max-md) {
    padding-left: 68px;
    margin-bottom: 24px;
  }
}

.feedback-form__header-icon {
  width: 60px;
  height: 60px;
  background-color: #0000004d;
  border-radius: 24px;
  transform: rotate(-10deg);
  position: absolute;
  left: 13px;
  top: -7px;
  z-index: 1;

  @media (--max-md) {
    width: 48px;
    height: 48px;
    border-radius: 18px;
    left: 6px;
    top: 0;
  }
}

.feedback-form__header-icon::after {
  content: '?';
  font-family: 'Gilroy', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(6deg);
}

.feedback-form__header-icon::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.102);
  position: absolute;
  border-radius: 26px;
  left: -4px;
  top: -4px;
  right: -4px;
  bottom: -4px;
  z-index: -1;

  @media (--max-md) {
    border-radius: 22px;
  }
}

.feedback-form__header-title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  line-height: 1.1;

  @media (--max-md) {
    font-size: 18px;
  }
}

.feedback-form__header-desc {
  margin-top: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6641);
  line-height: 1.143;

  @media (--max-md) {
    font-size: 14px;
    margin-top: 12px;
    text-wrap: balance;
  }
}

.feedback-form__input {
  margin-bottom: 22px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (--max-md) {
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.feedback-form__submit {
  border: 1px solid #d97a77;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  color: rgb(39, 41, 53);
  line-height: 1.2;
  text-align: center;
  height: 54px;
  padding: 0 32px;
  font-weight: 500;
  transition-duration: 150ms;
  cursor: pointer;

  @media (--max-md) {
    width: 100%;
  }
}

.feedback-form__submit:hover {
  background-color: rgb(198, 215, 227);
  border-color: rgb(198, 215, 227);
  transition-duration: 300ms;
}

.feedback-form__rules {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 1.286;
  font-weight: 300;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  @media (--max-md) {
    font-size: 12px;
    margin-top: 20px;
    text-wrap: balance;
  }
}

.feedback-form__figure-gray {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -100px;
  transform: translateX(-50%) skew(calc(10deg - (10deg * var(--progress))))
    rotate(calc((10deg - (10deg * var(--progress))) * -1));
  /* transform: translateX(calc(-50% + (60px - (60px * var(--progress)))))
    skew(calc(8deg - (8deg * var(--progress)))); */

  @media (--max-md) {
    display: none;
  }
}

.feedback-form__figure-red {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%) skew(calc((10deg - (10deg * var(--progress))) * -1))
    rotate(calc(10deg - (10deg * var(--progress))));
  /* transform: translateX(calc(-50% - (60px - (60px * var(--progress)))))
    skew(calc((8deg - (8deg * var(--progress))) * -1)); */

  @media (--max-md) {
    display: none;
  }
}

.home-content {
  overflow: hidden;
  padding-top: calc(80px * var(--global-scale));
  padding-bottom: calc(64px * var(--global-scale));

  @media (--max-lg) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

/* .features__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 86px;
  zoom: var(--global-scale);

  @media (--max-lg) {
    margin-bottom: 64px;
  }

  @media (--max-md) {
    margin-bottom: 64px;
  }
}

.features__title-inner {
  position: relative;
  text-align: center;
  padding: 0 116px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1.25;
  min-width: 0;

  @media (--max-md) {
    padding: 0 32px;
    font-size: 36px;
  }
}

.features__title-inner::first-line {
  font-size: 36px;
  font-weight: bold;

  @media (--max-md) {
    font-size: 24px;
  }
}

.features__title-inner::before {
  content: '';
  width: 9px;
  height: 120%;
  position: absolute;
  left: 0;
  top: 50%;
  border-left: 3px solid #131313;
  border-top: 3px solid #131313;
  border-bottom: 3px solid #131313;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress))) * -1));
}

.features__title-inner::after {
  content: '';
  width: 9px;
  height: 120%;
  position: absolute;
  right: 0;
  top: 50%;
  border-right: 3px solid #131313;
  border-top: 3px solid #131313;
  border-bottom: 3px solid #131313;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress)))));

  @media (--min-md) {
    display: none;
  }
} */

.advantages {
  overflow: hidden;
  background-repeat: repeat;
  background-image: url('../images/advantages-bg2.jpg');
  background-position: 50% calc(50% + (calc(300px * var(--global-scale)) * var(--progress)));
  background-size: auto auto;

  padding-top: calc(110px * var(--global-scale));
  padding-bottom: calc(110px * var(--global-scale));
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media (--max-md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.advantages-layout {
  display: flex;

  @media (--max-lg) {
    flex-wrap: wrap;
  }

  @media (--max-md) {
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
  }
}

.advantages-layout__calc {
  width: 50%;
  flex-shrink: 0;
  display: flex;

  @media (--max-lg) {
    width: 100%;
  }
}

.advantages-layout__warranty {
  width: 29%;
  flex-shrink: 0;
  display: flex;

  @media (--max-lg) {
    width: 60%;
  }

  @media (--max-md) {
    width: 100%;
  }
}

.advantages-layout__payment {
  width: 21%;
  flex-shrink: 0;
  display: flex;

  @media (--max-lg) {
    width: 40%;
  }

  @media (--max-md) {
    width: 100%;
  }
}

.advantage-calc {
  width: 100%;
  min-width: 0;
  background: url('../images/advantage-calc-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  padding: 113px 90px 102px 116px;
  zoom: var(--global-scale);
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
    padding: 32px;
  }
}

.advantage-calc::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background: #bcb2a6;
  opacity: 0.6;
}

.advantage-calc__title {
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  width: min-content;
  position: relative;

  @media (--max-md) {
    font-size: 32px;
    text-align: center;
    width: 100%;
    text-wrap: balance;
  }
}

.advantage-calc__title::before {
  content: '';
  width: 20px;
  height: 222px;
  position: absolute;
  left: -56px;
  top: 50%;
  border-left: 6px solid #fff;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translateX(calc((200% - (200% * var(--progress))) * -1));
}

.advantage-calc__form {
  margin-top: 68px;
  position: relative;

  @media (--max-md) {
    margin-top: 24px;
  }
}

.advantage-calc__form-label {
  pointer-events: none;
  user-select: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1;
  position: absolute;
  left: 32px;
  top: 16px;

  @media (--max-md) {
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
}

.advantage-calc__form-input {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.18);
  padding-left: 32px;
  padding-right: 344px;
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  color: #fff;
  height: 92px;
  padding-top: 32px;
  width: 100%;

  @media (--max-md) {
    font-size: 24px;
    height: 140px;
    padding-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 60px;
    text-align: center;
  }
}

.advantage-calc__form-input::placeholder {
  color: #fff;
}

.advantage-calc__form-submit {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgb(255, 255, 255);
  right: 6px;
  top: 6px;
  height: 80px;
  padding-left: 48px;
  padding-right: 48px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272935;
  transition-duration: 150ms;

  @media (--max-md) {
    font-size: 20px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    top: auto;
    height: 48px;
  }
}

.advantage-calc__form-submit:hover {
  background-color: #e1e5ee;
  transition-duration: 300ms;
}

.advantage-calc__rules {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-top: 34px;
  text-wrap: balance;

  @media (--max-md) {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
  }
}

.advantage-calc__rules a {
  text-decoration: underline;
}

.advantage-calc__rules a:hover {
  text-decoration: none;
}

.advantage-warranty {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(204, 204, 204, 0.15);
  background-color: rgba(250, 248, 246, 0.51);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  min-width: 0;
  padding: 68px 80px 60px 90px;
  zoom: var(--global-scale);

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
    padding: 32px;
  }
}

.advantage-warranty__title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @media (--max-md) {
    margin-bottom: 24px;
    justify-content: center;
  }
}

.advantage-warranty__title-num {
  font-size: 208px;
  line-height: 160px;
  font-family: 'Gilroy', sans-serif;
  color: #c73f3b;

  @media (--max-md) {
    font-size: 160px;
    line-height: 140px;
  }
}

.advantage-warranty__title-val {
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  color: #c73f3b;
  padding-top: 12px;
  margin-left: 10px;

  @media (--max-md) {
    font-size: 36px;
    line-height: 30px;
  }
}

.advantage-warranty__subtitle {
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  width: min-content;

  @media (--max-md) {
    font-size: 32px;
    width: 100%;
    text-align: center;
    text-wrap: balance;
  }
}

.advantage-warranty__desc {
  font-size: 18px;
  color: #fcfcfc;
  color: rgba(252, 252, 252, 0.82);
  line-height: 1.333;
  margin-top: 64px;
  position: relative;
  padding-right: 40px;

  @media (--max-md) {
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
    margin-top: 32px;
    text-align: center;
    text-wrap: balance;
  }
}

.advantage-warranty__desc::after {
  content: '';
  width: 9px;
  height: 120%;
  position: absolute;
  right: 0;
  top: 50%;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress)))));
}

.advantage-payment {
  background-color: rgba(104, 104, 104, 0.588);
  width: 100%;
  min-width: 0;
  padding: 56px 48px 48px 52px;
  zoom: var(--global-scale);

  @media (--max-lg) {
    zoom: 0.8;
  }

  @media (--max-md) {
    zoom: 1;
    padding: 32px;
  }
}

.advantage-payment__title {
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;

  @media (--max-md) {
    text-align: center;
    margin-bottom: 16px;
  }
}

.advantage-payment__subtitle {
  font-size: 48px;
  line-height: 32px;
  color: #fff;
  /* height: 228px; */
  height: calc(32px + (196px * var(--progress)));
  padding: 0 5px;

  @media (--max-md) {
    height: 120px;
  }
}

.advantage-payment__line {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.advantage-payment__line-step {
  padding-left: 40px;
  position: relative;
}

.advantage-payment__line-step::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 10px;
  top: 5px;
}

.advantage-payment__line-step::after {
  content: '';
  width: 1px;
  background: #fff;
  position: absolute;
  left: 14px;
  top: 8px;
  bottom: -40px;
}

.advantage-payment__line-step:last-child:after {
  display: none;
}

.advantage-payment__step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.advantage-payment__step-title {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  background: #333232;
  margin-left: -12px;
  margin-bottom: 2px;
}

.advantage-payment__step-desc {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-wrap: balance;
}

.v-email {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: #fff;
  display: flex;
  gap: 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.075em;
  opacity: 0.66;
  transition-duration: 150ms;

  @media (--max-md) {
    font-size: 12px;
    gap: 10px;
  }
}

.v-email:hover {
  opacity: 1;
  transition-duration: 300ms;
}

.v-social {
  display: flex;
  flex-direction: column;
}

.v-social__item {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  transition-duration: 150ms;
  position: relative;
  z-index: 1;

  @media (--max-md) {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

.v-social__item::before {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  border-radius: 4px;
  border: 3px solid rgb(201, 65, 60);
  background-color: rgba(0, 0, 0, 0.49);
  transform: scale(0.9);
  opacity: 0;
  transition-duration: 150ms;
}

.v-social__item:hover::before {
  transform: scale(1);
  opacity: 1;
  transition-duration: 300ms;
}

.v-social--light .v-social__item {
  color: #afadad;
}

.v-social--light .v-social__item:hover {
  color: #fff;
}
