.project-layout {
  display: grid;
  grid-template-areas:
    'media . .'
    'media . prices'
    'media . .'
    'media . params'
    'media . .'
    'media . contact'
    '. . .'
    'discount . benefits'
    '. . .'
    'components components components';
  grid-template-columns: 1fr calc(54px * var(--global-scale)) 1fr;
  grid-template-rows:
    calc(44px * var(--global-scale)) auto calc(20px * var(--global-scale)) auto calc(
      20px * var(--global-scale)
    )
    1fr calc(24px * var(--global-scale)) auto calc(64px * var(--global-scale)) auto;
  gap: 0;
}

.project-layout__media {
  grid-area: media;
}

.project-layout__discount {
  grid-area: discount;
}

.project-layout__prices {
  grid-area: prices;
}

.project-layout__params {
  grid-area: params;
}

.project-layout__contact {
  grid-area: contact;
}

.project-layout__benefits {
  grid-area: benefits;
}

.project-layout__components {
  grid-area: components;
}

.project-layout__prices-inner {
  margin-left: calc(54px * var(--global-scale) * -1);
}

.project-packages {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  background-color: rgba(255, 255, 255, 0.8);
  zoom: var(--global-scale);
  padding: 16px 72px 48px 54px;
}

.project-packages__title {
  font-size: 18px;
  font-family: 'Gilroy';
  color: rgb(48, 52, 55);
  line-height: 1.2;
  margin-bottom: 12px;
  font-weight: 500;
}

.project-packages__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-package {
  display: flex;
  cursor: pointer;
  background-color: rgba(201, 65, 60, 0.8);
}

.project-package:hover {
  background-color: rgb(201, 65, 60);
}

.project-package__body {
  flex-grow: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-package__name {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
}

.project-package__price {
  display: flex;
  align-items: baseline;
}

.project-package__price-lbl {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  margin-right: 16px;
}

.project-package__price-val {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.project-package__price-cur {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-left: 4px;
}

.project-package__help {
  width: 86px;
  flex-shrink: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.302);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.project-package__help-ico {
  border: 3px solid currentColor;
  font-family: 'Gilroy';
  color: rgba(230, 243, 255, 0.6);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: bold;
  font-size: 20px;

  .project-package:hover & {
    color: #fff;
  }
}

.project-package__help-txt {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1;
  text-align: center;

  .project-package:hover & {
    color: #fff;
  }
}

.gallery {
}

.gallery-main {
  --carousel-gap: calc(32px * var(--global-scale));
  --carousel-columns: 1;

  position: relative;
}

.gallery-main__viewport {
  overflow: hidden;
}

.gallery-main__container {
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
}

.gallery-main__slide {
  flex: 0 0 calc(100% / var(--carousel-columns));
  padding-left: var(--carousel-gap);
  min-width: 0;
  position: relative;
}

.gallery-main__loupe {
  position: absolute;
  width: 88px;
  height: 88px;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.4;
  font-size: 36px;
  zoom: var(--global-scale);

  .gallery-main__slide:hover & {
    opacity: 1;
  }
}

.gallery-main__prev,
.gallery-main__next {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  width: 72px;
  height: 72px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  opacity: 0.4;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: var(--global-scale);

  &[disabled] {
    display: none;
  }
  &:not([disabled]):hover {
    opacity: 1;
  }
}

.gallery-main__prev {
  left: 0;
}

.gallery-main__next {
  right: 0;
}

.gallery-thumbs {
  --carousel-gap: calc(16px * var(--global-scale));
  --carousel-columns: 3;

  position: relative;
  margin-top: calc(24px * var(--global-scale));
}

.gallery-thumbs__viewport {
  overflow: hidden;
}

.gallery-thumbs__container {
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
}

.gallery-thumbs__prev,
.gallery-thumbs__next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  opacity: 0.4;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: var(--global-scale);

  &[disabled] {
    display: none;
  }
  &:not([disabled]):hover {
    opacity: 1;
  }
}

.gallery-thumbs__prev {
  left: 0;
}

.gallery-thumbs__next {
  right: 0;
}

.gallery-thumbs__slide {
  flex: 0 0 calc(100% / var(--carousel-columns));
  padding-left: var(--carousel-gap);
  min-width: 0;
  position: relative;
  overflow: hidden;

  &.embla-thumbs__slide--selected::after {
    content: '';
    position: absolute;
    left: var(--carousel-gap);
    top: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #000;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-labels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(16px * var(--global-scale));
  position: absolute;
  z-index: 30;
  left: calc(24px * var(--global-scale));
  bottom: calc(24px * var(--global-scale));
  right: calc(200px * var(--global-scale));
}

.gallery-label {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 12px;
  background-color: rgba(19, 19, 19, 0.8);
  zoom: var(--global-scale);
}

.gallery-label__icon {
  font-size: 24px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.gallery-label__title {
  font-size: 9px;
  font-family: 'Gilroy';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
