.project-layout {
  margin-bottom: 80px;
  display: grid;
  grid-template-areas:
    'media . .'
    'media . prices'
    'media . .'
    'media . params'
    'media . .'
    'media . contact'
    '. . .'
    'discount . benefits'
    '. . .'
    'packages packages packages';
  grid-template-columns: 1fr calc(50px * var(--global-scale)) 1fr;
  grid-template-rows:
    calc(42px * var(--global-scale)) auto calc(52px * var(--global-scale)) auto calc(
      24px * var(--global-scale)
    )
    1fr calc(32px * var(--global-scale)) auto calc(64px * var(--global-scale)) auto;
  gap: 0;
}

.project-layout__media {
  grid-area: media;
}

.project-layout__discount {
  grid-area: discount;
}

.project-layout__prices {
  grid-area: prices;
}

.project-layout__params {
  grid-area: params;
}

.project-layout__contact {
  grid-area: contact;
}

.project-layout__benefits {
  grid-area: benefits;
}

.project-layout__packages {
  grid-area: packages;
}

.project-layout__prices-inner {
  margin-left: calc(50px * var(--global-scale) * -1);
}

.project-prices {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  background-color: rgba(255, 255, 255, 0.8);
  zoom: var(--global-scale);
  padding: 20px 72px 48px 50px;
}

.project-prices__title {
  font-size: 18px;
  font-family: 'Gilroy';
  color: rgb(48, 52, 55);
  line-height: 1.2;
  margin-bottom: 12px;
  font-weight: 500;
}

.project-prices__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-price {
  display: flex;
  cursor: pointer;
  background-color: rgba(201, 65, 60, 0.8);
}

.project-price:hover {
  background-color: rgb(201, 65, 60);
}

.project-price__body {
  flex-grow: 1;
  padding: 12px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-price__name {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.project-price__price {
  display: flex;
  align-items: baseline;
}

.project-price__price-lbl {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  margin-right: 16px;
  line-height: 1;
}

.project-price__price-val {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  line-height: 1;
}

.project-price__price-cur {
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-left: 4px;
  line-height: 1;
}

.project-price__help {
  width: 86px;
  flex-shrink: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.302);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 12px;
}

.project-price__help-ico {
  border: 3px solid currentColor;
  font-family: 'Gilroy';
  color: rgba(230, 243, 255, 0.6);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: bold;
  font-size: 20px;

  .project-price:hover & {
    color: #fff;
  }
}

.project-price__help-txt {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1;
  text-align: center;

  .project-price:hover & {
    color: #fff;
  }
}

.gallery {
}

.gallery-main {
  --carousel-gap: calc(32px * var(--global-scale));
  --carousel-columns: 1;

  position: relative;
}

.gallery-main__viewport {
  overflow: hidden;
}

.gallery-main__container {
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
}

.gallery-main__slide {
  flex: 0 0 calc(100% / var(--carousel-columns));
  padding-left: var(--carousel-gap);
  min-width: 0;
  position: relative;
}

.gallery-main__loupe {
  position: absolute;
  width: 88px;
  height: 88px;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.4;
  font-size: 36px;
  zoom: var(--global-scale);

  .gallery-main__slide:hover & {
    opacity: 1;
  }
}

.gallery-main__prev,
.gallery-main__next {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  width: 72px;
  height: 72px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  opacity: 0.4;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: var(--global-scale);

  &[disabled] {
    display: none;
  }
  &:not([disabled]):hover {
    opacity: 1;
  }
}

.gallery-main__prev {
  left: 0;
}

.gallery-main__next {
  right: 0;
}

.gallery-thumbs {
  --carousel-gap: calc(16px * var(--global-scale));
  --carousel-columns: 3;

  position: relative;
  margin-top: calc(24px * var(--global-scale));
}

.gallery-thumbs__viewport {
  overflow: hidden;
}

.gallery-thumbs__container {
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
}

.gallery-thumbs__prev,
.gallery-thumbs__next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  opacity: 0.4;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: var(--global-scale);

  &[disabled] {
    display: none;
  }
  &:not([disabled]):hover {
    opacity: 1;
  }
}

.gallery-thumbs__prev {
  left: 0;
}

.gallery-thumbs__next {
  right: 0;
}

.gallery-thumbs__slide {
  flex: 0 0 calc(100% / var(--carousel-columns));
  padding-left: var(--carousel-gap);
  min-width: 0;
  position: relative;
  overflow: hidden;

  &.embla-thumbs__slide--selected::after {
    content: '';
    position: absolute;
    left: var(--carousel-gap);
    top: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #000;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-labels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(16px * var(--global-scale));
  position: absolute;
  z-index: 30;
  left: calc(24px * var(--global-scale));
  bottom: calc(24px * var(--global-scale));
  right: calc(200px * var(--global-scale));
}

.gallery-label {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 12px;
  background-color: rgba(19, 19, 19, 0.8);
  zoom: var(--global-scale);
}

.gallery-label__icon {
  font-size: 24px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.gallery-label__title {
  font-size: 9px;
  font-family: 'Gilroy';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.project-params {
  zoom: var(--global-scale);
}

.project-params__title {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
  line-height: 1.25;
  margin-bottom: 16px;
}

.project-params__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 480px;
  max-width: 100%;
}

.project-params__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.project-params__label {
  color: #959595;
  font-size: 16px;
  line-height: 1;
}

.project-params__value {
  color: #303437;
  font-size: 16px;
  line-height: 1;
  font-family: 'Gilroy';
  font-weight: 500;
}

.project-contact {
  background: #5b646b;
  padding: 30px 96px 24px;
  zoom: var(--global-scale);
}

.project-contact__title {
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 16px;
  position: relative;
}

.project-contact__title::before {
  content: '';
  position: absolute;
  left: -68px;
  top: 8px;
  width: 20px;
  height: 96px;
  border-left: 6px solid #afadad;
  border-top: 6px solid #afadad;
  border-bottom: 6px solid #afadad;
}

.project-contact__desc {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 20px;
}

.project-contact__feedback {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.project-contact__feedback:hover {
  background-color: rgba(255, 255, 255, 0.961);
  color: rgb(48, 52, 55);
}

.project-contact__socials {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.project-contact__social {
  display: flex;
  align-items: center;
  min-height: 72px;
  gap: 12px;
  padding: 12px 20px;
  color: #fff;
  border-radius: 4px;
  background: rgb(128, 128, 128);
}

.project-contact__social--whatsapp {
  background: #00a253;
  &:hover {
    background: #00914b;
  }
}

.project-contact__social--telegram {
  background: #2794c2;
  &:hover {
    background: #2385ae;
  }
}

.project-contact__social--vk {
  background: #295b92;
  &:hover {
    background: #255283;
  }
}

.project-contact__social-ico {
  font-size: 32px;
  flex-shrink: 0;
  display: flex;
}

.project-contact__social-lbl {
  flex-grow: 1;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.project-benefits {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  zoom: var(--global-scale);
}

.project-benefits__item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 14px 24px 14px 24px;
  background-image: linear-gradient(45deg, rgb(237, 242, 254) 0%, rgb(250, 238, 251) 100%);
}

.project-benefits__item-ico {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-benefits__item-txt {
  font-size: 14px;
  color: rgb(193, 155, 75);
  line-height: 1.2;
  text-wrap: balance;
}

.project-benefits__item:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.project-discount {
  position: relative;
  background-color: rgba(251, 238, 162, 0.6);
  padding: 20px 20px 30px 242px;
  zoom: var(--global-scale);
}

.project-discount__sticker {
  position: absolute;
  background: url('../images/discount-sticker.png') no-repeat 50% 50%;
  background-size: cover;
  width: 200px;
  height: 198px;
  left: 26px;
  top: 2px;
}

.project-discount__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.project-discount__title {
  font-size: 30px;
  color: rgb(48, 52, 55);
  font-weight: bold;
  font-style: italic;
  line-height: 1;
}

.project-discount__date {
  font-size: 22px;
  font-family: 'Gilroy';
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: center;
  font-weight: 500;
  background: #c9413c;
  min-height: 64px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.project-discount__date::before {
  content: '[';
}

.project-discount__date::after {
  content: ']';
}

.project-discount__desc {
  font-size: 18px;
  color: rgb(104, 104, 104);
  line-height: 1.2;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul li {
    position: relative;
    padding-left: 42px;
  }
  ul li::before {
    content: '✓';
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    left: 12px;
    top: 2px;
    width: 16px;
    height: 16px;
    background: #4c504e;
    border-radius: 50%;
  }
  ul li + li {
    margin-top: 10px;
  }
}

.project-packages {
  zoom: var(--global-scale);
}

.project-packages__title {
  font-size: 30px;
  color: #303437;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}

.project-packages__tabs {
  display: flex;
  gap: 12px;
}

.project-packages__tab {
  background: rgb(225, 229, 238);
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #303437;
  line-height: 1;
}

.project-packages__tab:hover {
  background: linear-gradient(45deg, #edf2fe, #faeefb);
}

.project-packages__tab.active {
  color: #fff;
  background: #c9413c;
}

.project-packages__contents {
}

.project-packages__content {
  border: 1px solid #e7e7e7;
  padding: 40px;
  display: none;
  font-size: 16px;
  color: #000;
  line-height: 1.25;
}

.project-packages__content.active {
  display: block;
}

.project-inquiry {
  zoom: var(--global-scale);

  overflow: hidden;
  background-repeat: repeat;
  background-image: url('../images/advantages-bg2.jpg');
  background-position: 50% calc(50% + (300px * var(--progress)));
  background-size: auto auto;

  padding-top: 180px;
  padding-bottom: 110px;
  position: relative;
  z-index: 1;

  @media (--max-lg) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  @media (--max-md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.project-inquiry__layout {
  display: flex;
}

.project-inquiry__layout-left {
  width: 50%;
  padding-left: 116px;
  padding-right: 116px;
}

.project-inquiry__layout-right {
  width: 50%;
}

.project-inquiry__content {
  position: relative;
}

.project-inquiry__content::before {
  content: '';
  width: 20px;
  height: 110%;
  position: absolute;
  left: -60px;
  top: 50%;
  border-left: 6px solid #fff;
  border-top: 6px solid #fff;
  border-bottom: 6px solid #fff;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translateX(calc((200% - (200% * var(--progress))) * -1));
}

.project-inquiry__title {
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 32px;
}

.project-inquiry__desc {
  font-size: 36px;
  color: rgb(199, 63, 59);
  font-weight: bold;
  line-height: 1.2;
}

.project-inquiry__form {
}

.project-inquiry__control {
  margin-top: 64px;
  position: relative;
  margin-left: 48px;
  margin-right: 116px;

  @media (--max-md) {
    margin-top: 24px;
  }
}

.project-inquiry__control-label {
  pointer-events: none;
  user-select: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1;
  position: absolute;
  left: 32px;
  top: 16px;

  @media (--max-md) {
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
  }
}

.project-inquiry__control-input {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.18);
  padding-left: 32px;
  padding-right: 344px;
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;
  font-size: 24px;
  color: #fff;
  height: 92px;
  padding-top: 32px;
  width: 100%;

  @media (--max-md) {
    font-size: 24px;
    height: 140px;
    padding-top: 32px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 60px;
    text-align: center;
  }
}

.project-inquiry__control-input::placeholder {
  color: #fff;
}

.project-inquiry__control-submit {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgb(255, 255, 255);
  right: 6px;
  top: 6px;
  height: 80px;
  padding-left: 48px;
  padding-right: 48px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #272935;
  transition-duration: 150ms;

  @media (--max-md) {
    font-size: 20px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    top: auto;
    height: 48px;
  }
}

.project-inquiry__control-submit:hover {
  background-color: #e1e5ee;
  transition-duration: 300ms;
}

.project-inquiry__rules {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-top: 34px;
  text-wrap: balance;
  margin-left: 48px;
  margin-right: 116px;

  @media (--max-md) {
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
  }
}

.project-inquiry__rules a {
  text-decoration: underline;
}

.project-inquiry__rules a:hover {
  text-decoration: none;
}

.project-inquiry__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.project-inquiry__option {
  display: flex;
  align-items: center;
  position: relative;
  gap: 18px;
}

.project-inquiry__option-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 42px;
  height: 42px;
}

.project-inquiry__option-checkbox {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.18);
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  position: relative;
}

.project-inquiry__option-checkbox::after {
  content: '';
  width: 20px;
  height: 12px;
  border-left: 3px solid rgb(48, 52, 55);
  border-bottom: 3px solid rgb(48, 52, 55);
  position: absolute;
  margin-top: -3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
}

.project-inquiry__option-input:checked + .project-inquiry__option-checkbox {
  background-color: rgb(255, 255, 255);
}

.project-inquiry__option-input:checked + .project-inquiry__option-checkbox::after {
  opacity: 1;
}

.project-inquiry__option-input:checked
  + .project-inquiry__option-checkbox
  + .project-inquiry__option-label {
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.project-inquiry__option-label {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.333;
}

.work-scheme {
  padding-top: 96px;
  padding-bottom: 96px;
  background: #e0e4ed url('../images/bg-work-scheme.jpg') no-repeat 50% 100%;
  zoom: var(--global-scale);
}

.work-scheme__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
  font-size: 34px;
  color: rgb(19, 19, 19);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  text-align: center;
}

.work-scheme__title-inner {
  position: relative;
}

.work-scheme__title-inner::before {
  content: '';
  width: 9px;
  height: 96px;
  border-left: 3px solid #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -140px;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translateX(calc((200% - (200% * var(--progress))) * -1));
}

.work-scheme__title-inner::after {
  content: '';
  width: 9px;
  height: 96px;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -140px;
  transform: translateY(-50%) scale(calc(1 + ((1 - var(--progress)) * 0.5)))
    translate(calc((200% - (200% * var(--progress)))));
}

.work-scheme__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.work-scheme__item {
}

.work-scheme__item-num {
  width: 80px;
  height: 80px;
  font-size: 60px;
  font-family: Gilroy;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  z-index: 1;
  padding-top: 18px;
  margin-bottom: 20px;
  padding-left: 8px;
}

.work-scheme__item-num::before {
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #c93f3ba8;
  border-radius: 29px;
  transform: rotate(17deg);
  position: absolute;
  left: 0;
  top: 0;
}

.work-scheme__item-check {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
  width: auto;
  position: relative;
  margin-right: -32px;
}

.work-scheme__item-check::before {
  content: '✓';
  position: absolute;
  left: 0;
  top: -7px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #303437;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.work-scheme__item-desc {
  font-size: 14px;
  color: rgb(48, 52, 55);
  line-height: 1.429;
  margin-top: 16px;
  a {
    text-decoration: underline;
  }
}
