.project-layout {
  display: grid;
  grid-template-areas:
    'media . .'
    'media . prices'
    'media . .'
    'media . params'
    'media . .'
    'media . contact'
    '. . .'
    'discount . benefits'
    '. . .'
    'components components components';
  grid-template-columns: 1fr 54px 1fr;
  grid-template-rows: 44px auto 20px auto 20px 1fr 24px auto 64px auto;
  gap: 0;
}

.project-layout__media {
  grid-area: media;
}

.project-layout__discount {
  grid-area: discount;
}

.project-layout__prices {
  grid-area: prices;
}

.project-layout__params {
  grid-area: params;
}

.project-layout__contact {
  grid-area: contact;
}

.project-layout__benefits {
  grid-area: benefits;
}

.project-layout__components {
  grid-area: components;
}

.gallery {
}

.gallery-main {
  --carousel-gap: calc(32px * var(--global-scale));
  --carousel-columns: 1;

  position: relative;
}

.gallery-main__viewport {
  overflow: hidden;
}

.gallery-main__container {
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
}

.gallery-main__slide {
  flex: 0 0 calc(100% / var(--carousel-columns));
  padding-left: var(--carousel-gap);
  min-width: 0;
  position: relative;
}

.gallery-main__loupe {
  position: absolute;
  width: 88px;
  height: 88px;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.4;
  font-size: 36px;
  zoom: var(--global-scale);

  .gallery-main__slide:hover & {
    opacity: 1;
  }
}

.gallery-main__prev,
.gallery-main__next {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  width: 72px;
  height: 72px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  opacity: 0.4;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: var(--global-scale);

  &[disabled] {
    display: none;
  }
  &:not([disabled]):hover {
    opacity: 1;
  }
}

.gallery-main__prev {
  left: 0;
}

.gallery-main__next {
  right: 0;
}

.gallery-thumbs {
  --carousel-gap: calc(16px * var(--global-scale));
  --carousel-columns: 3;

  position: relative;
  margin-top: calc(24px * var(--global-scale));
}

.gallery-thumbs__viewport {
  overflow: hidden;
}

.gallery-thumbs__container {
  display: flex;
  margin-left: calc(var(--carousel-gap) * -1);
}

.gallery-thumbs__prev,
.gallery-thumbs__next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  width: 48px;
  height: 48px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  opacity: 0.4;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: var(--global-scale);

  &[disabled] {
    display: none;
  }
  &:not([disabled]):hover {
    opacity: 1;
  }
}

.gallery-thumbs__prev {
  left: 0;
}

.gallery-thumbs__next {
  right: 0;
}

.gallery-thumbs__slide {
  flex: 0 0 calc(100% / var(--carousel-columns));
  padding-left: var(--carousel-gap);
  min-width: 0;
  position: relative;
  overflow: hidden;

  &.embla-thumbs__slide--selected::after {
    content: '';
    position: absolute;
    left: var(--carousel-gap);
    top: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #000;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-labels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(16px * var(--global-scale));
  position: absolute;
  z-index: 30;
  left: calc(24px * var(--global-scale));
  bottom: calc(24px * var(--global-scale));
  right: calc(200px * var(--global-scale));
}

.gallery-label {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 12px;
  background-color: rgba(19, 19, 19, 0.8);
  zoom: var(--global-scale);
}

.gallery-label__icon {
  font-size: 24px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.gallery-label__title {
  font-size: 9px;
  font-family: 'Gilroy';
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
