.reviews-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;

  @media (--max-lg) {
    gap: 24px;
  }
  @media (--max-md) {
    gap: 12px;
  }
}

.reviews-tabs__item {
  color: #303437;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  min-height: 96px;
  position: relative;

  @media (--max-lg) {
    min-height: 64px;
  }
  @media (--max-md) {
    font-size: 16px;
    min-height: 48px;
  }
}

.reviews-tabs__item--active {
  color: #ca433e;
  font-weight: bold;
}

.reviews-tabs__item--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ca433e;

  @media (--max-lg) {
    height: 4px;
  }
  @media (--max-md) {
    height: 3px;
  }
}

.reviews-graphic-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(40px * var(--global-scale));
  row-gap: calc(64px * var(--global-scale));
  margin-top: calc(72px * var(--global-scale));

  @media (--max-lg) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (--max-md) {
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 48px;
  }
}

.reviews-video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(20px * var(--global-scale));
  margin-top: calc(16px * var(--global-scale));

  @media (--max-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (--max-md) {
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 12px;
  }
}

.review-video-card {
  position: relative;
  zoom: var(--global-scale);
}

.review-video-card__media {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.review-video-card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1280 / 720;
  object-fit: cover;
}

.review-video-card__play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.review-video-card__play span {
  display: block;
  width: 36px;
  height: 36px;
  background: #00a1e7;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.review-video-card__play span::after {
  content: '';
  display: block;
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.review-graphic-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  zoom: var(--global-scale);

  @media (--max-md) {
    grid-template-columns: 1fr;
  }
}

.review-graphic-card__media {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #dcdcdc;
  margin: 0;
}

.review-graphic-card__image {
  width: 100%;
  height: auto;
}

.review-graphic-card__body {
}

.review-graphic-card__date {
  margin-top: 48px;
  font-size: 16px;
  font-family: 'Gilroy';
  color: rgb(185, 185, 185);
  line-height: 1;
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;

  @media (--max-md) {
    margin-top: 0;
  }
}

.review-graphic-card__date::before {
  content: '[';
}

.review-graphic-card__date::after {
  content: ']';
}

.review-graphic-card__content {
  margin-top: 24px;
  font-size: 16px;
  color: rgb(48, 52, 55);
  font-style: italic;
  line-height: 1.313;

  @media (--max-md) {
    margin-top: 16px;
  }
}

.review-graphic-card__content::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23px' height='27px'%3E%3Cpath fill-rule='evenodd' fill='rgb(207, 211, 219)' d='M6.993,27.004 L3.062,27.004 L0.005,12.942 L0.005,0.016 L7.576,0.016 L7.576,12.942 L4.809,12.942 L6.993,27.004 ZM22.426,27.004 L18.495,27.004 L15.438,12.942 L15.438,0.016 L23.009,0.016 L23.009,12.942 L20.242,12.942 L22.426,27.004 Z'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 23px;
  height: 24px;
  margin-left: 6px;
  margin-right: 22px;
  margin-bottom: 4px;
  margin-top: 4px;
}
