.reviews-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 16px;
}

.reviews-tabs__item {
  color: #303437;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.2;
  min-height: 96px;
  position: relative;
}

.reviews-tabs__item--active {
  color: #ca433e;
  font-weight: bold;
}

.reviews-tabs__item--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ca433e;
}

.reviews-text-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(40px * var(--global-scale));
  row-gap: calc(64px * var(--global-scale));

  @media (--max-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (--max-md) {
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 48px;
  }
}

.reviews-video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(20px * var(--global-scale));

  @media (--max-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (--max-md) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
